/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.cljs_rhino_repl/
/resources/config/*.edn
/resources/config/extra/*.edn
/resources/test_config/*.edn
/resources/public/file
/resources/i18n/dict.clj
tags
*~
*#
.#*
.idea
*.iml
figwheel_server.log

src/scss/.sass-cache/
src/scss/extra/.sass-cache/
