/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.cljs_rhino_repl/
/resources/config/*.edn
/resources/test_config/*.edn
/resources/public/file
/resources/i18n/dict.clj
tags
*~
*#
.#*
.idea
*.iml
figwheel_server.log

resources/config/extra/
resources/i18n/en/extra/
resources/i18n/es/extra/
resources/i18n/fi/extra/
resources/i18n/fr/extra/
resources/migrations/extra/
resources/public/css/extra/
resources/public/img/extra/
resources/public/js/extra/
resources/sql/extra/
resources/test_config/extra/
src/clj/salava/extra/
src/cljc/salava/extra/
src/cljs/salava/extra/
src/scss/extra/
test/clj/salava/extra/
test/cljc/salava/extra/
test/cljs/salava/extra/

src/scss/.sass-cache/
