(
 {:table "social_event"
  :data {
         :subject 1
         :verb "ticket"
         :object 1
         :type "admin"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 1
         :event_id 1
         :hidden 0
         :last_checked nil
         }}

 {:table "badge_message"
  :data {
         :user_id 1
         :badge_id "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :message "message"
         :ctime 1491990746
         :mtime 1491990746
         :deleted 0
         }}

 {:table "social_event"
  :data {
         :subject 1
         :verb "message"
         :object "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :type "badge"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 1
         :event_id 2
         :hidden 0
         :last_checked nil
         }}

{:table "social_connections_badge"
  :data {
         :user_id 1
         :badge_id "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :ctime 1491990746
         }}


 {:table "social_event"
  :data {
         :subject 1
         :verb "follow"
         :object "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :type "badge"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 1
         :event_id 3
         :hidden 0
         :last_checked nil
         }}




  {:table "badge_message"
  :data {
         :user_id 1
         :badge_id "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :message "message 2"
         :ctime 1491990756
         :mtime 1491990756
         :deleted 0
         }}

 {:table "social_event"
  :data {
         :subject 1
         :verb "message"
         :object "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :type "badge"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 1
         :event_id 4
         :hidden 0
         :last_checked nil
         }}
 {:table "badge_message_view"
  :data {
         :user_id 1
         :badge_id "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :mtime 1491990746
         }}

 {:table "social_event"
  :data {
         :subject 2
         :verb "publish"
         :object "3"
         :type "badge"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 1
         :event_id 5
         :hidden 0
         :last_checked nil
         }}

 {:table "social_event"
  :data {
         :subject 1
         :verb "follow"
         :object 2
         :type "user"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 1
         :event_id 6
         :hidden 0
         :last_checked nil
         }}
 {:table "social_event_owners"
  :data {
         :owner 2
         :event_id 6
         :hidden 0
         :last_checked nil
         }}


 )
