(
  {
  :table "report_ticket"
  :data {
;;          :item_id 1
         :item_name "Test User"
         :item_type "user"
;;          :item_url "/app/user/profile/1"
         :item_content_id nil
         :reporter_id 1
         :report_type "bug"
         :status "open"
         :description "typerä juttu"
         :ctime 1491990746
         :mtime 1491990746
         }
  }

 {:table "social_event"
  :data {
         :subject 1
         :verb "ticket"
         :object 1
         :type "admin"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 1
         :event_id 1
         :hidden 0
         :last_checked nil
         }}

  {:table "social_event"
  :data {
         :subject 2
         :verb "follow"
         :object 2
         :type "badge"
         :ctime 1491990746
         :mtime 1491990746
         }}

 {:table "social_event_owners"
  :data {
         :owner 2
         :event_id 2
         :hidden 0
         :last_checked nil
         }}

 {:table "badge_message"
  :data {
         :user_id 2
;;          :badge_id "da8df30fd44386d82d1c21f7040bdb8d69af2c50d659782e1d568d627d57b1f3"
         :message "message"
         :ctime 1491990746
         :mtime 1491990746
         :deleted 0
         }}

 )
