<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%.-1level %d{YYYY/MM/dd HH:mm:ss.SSS} %X{user} - %logger{36} : %msg%n%rEx</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="salava" level="DEBUG"/>

</configuration>
