(
  {
   :table "user_file"
   :data {
          :user_id 1
          :name "Sample file"
          :path "file/9/c/e/b/9ceb14cf3186fbe1ca2424e8bcd7abdccb79f29ebe1b7870f29035fb30cbdd93.txt"
          :mime_type "text/plain"
          :size 9
          :ctime 1447072243
          :mtime 1447072243}
  }
  {
   :table "user_file"
   :data {
          :user_id 1
          :name "Sample document"
          :path "file/3/9/f/c/39fcd778de26be5d2c95a0adc8e945354003379b964f31dca5d5d0edd927128.doc"
          :mime_type "application/msword"
          :size 9216
          :ctime 1449151320
          :mtime 1449151320}
   }
  {
   :table "user_file"
   :data {
          :user_id 2
          :name "Another user's file"
          :path "file/1/9/8/3/1983bd8127df711e199325d8459b4fe3827f04c6cb5c229393502726c01782e5.jpg"
          :mime_type "image/jpg"
          :size 7507
          :ctime 1453891235
          :mtime 1453891235}
   }
)