/* Client-specific styles */

#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" message */
.ReadMsgBody{width:100%;}
.ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} /* Image borders & formatting, allow smoother rendering of resized image in Internet Explorer */
a img {border:none;}
a[href^=tel], .mobile_link, .mobile_link a {text-decoration: none !important;} /* Styles the tel URL scheme */
.applelinks a {color:#222222; text-decoration: none;} /* Re-style iPhone automatic links (eg. phone numbers) */
.yshortcuts a{border-bottom: none !important;} /* Styles Yahoo's auto-sensing link color and border */
.ExternalClass img[class^=Emoji] { width: 10px !important; height: 10px !important; display: inline !important; } /* Hotmail symbol fix for mobile devices */
body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
table, td {border-collapse:collapse;mso-table-lspace:0pt; mso-table-rspace:0pt;} /*  Resolves the Outlook 2007, 2010, and Gmail td padding issue, and removes spacing around tables that Outlook adds. */
table{border-spacing:0;} /* Resolves webkit padding issue. */
.thread-item.expanded .thread-body .body, .msg-body {width: 100% !important; display: block !important;} /* Forces Yahoo! to display emails at full width */

/* Reset styles */

body{margin:0; padding:0;}
img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
table{border-collapse:collapse !important;}
body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}

/* Apple Mail doesn't support max-width, so we use media queries to constrain the email container width. */
@media only screen and (min-width: 640px) {
    .emailContainer {
        width: 640px !important;
    }
}

/* Custom styles */
h1 {
    color:#333333 !important;
    display:block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:30px;
    font-style:normal;
    font-weight:normal;
    line-height:40px;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
    padding-top:0;
    padding-left:0;
    padding-bottom:0;
    padding-right:0;
}
h2 {
    color:#333333 !important;
    display:block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:24px;
    font-style:normal;
    font-weight:normal;
    line-height:36px;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
    padding-top:34px;
    padding-right:0;
    padding-bottom:0;
    padding-left:0;
}
p {
    color: #333333 !important;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    margin-top: 9px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
    text-align: left;*/
}

.emailAdmin .emailLogo img {
    width: auto !important;
}

#bodyTable {
    width: 100% !important;
}

@media only screen and (max-width: 680px){
    .emailContainer {
        width: 100% !important;
        display: block !important;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    h2 {
        font-size: 16px !important;
        line-height: 22px !important;
        padding-top: 17px !important;
        text-align: left !important;
    }
    h3 {
        font-size: 14px !important;
        line-height: 24px !important;
    }
    p {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .banner {
        max-width: 477px !important;
    }
    .emailTile {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .emailTile td {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .emailLogo {
        vertical-align: top !important;
    }
    .emailLogo img {
        max-width: 100px !important;
    }
    .emailAdmin .emailTitle td {
        padding-top: 5px !important;
        vertical-align: middle !important;
    }
    .emailAdmin .emailTitle img {
        width: 75% !important;
        height: auto !important;
    }
    .emailAdmin .emailLogo img {
        width: 40px !important;
    }
    .emailTile .emailHeaderNote {
        display: block !important;
        line-height: 16px !important;
        padding-bottom: 10px !important;
        padding-right: 0 !important;
    }
    .emailContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .emailBody {
        padding-top: 11px !important;
    }
    .emailHeader td {
        padding-top: 3px !important;
        vertical-align: top !important;
    }
    .emailLogoText {
        width: 100px !important;
        height: auto !important;
    }
    .emailLogoText td {
        font-size: 11px !important;
        line-height: 18px !important;
        padding: 5px !important;
        vertical-align: middle !important;
    }
    .emailProductContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    td[class="emailProduct"] table {
        width: 100%;
    }
    .emailProductImage {
        width: 100px !important;
        padding-left: 0 !important;
    }
    .emailProductContainer .emailProductImage {
        padding-left: 10px !important;
    }
    .emailProductImage img {
        max-width: 100px !important;
        min-width: 50px;
    }
    .emailProductContainer .emailProductDesc {
        width: 70%;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .emailProductDesc td {
        padding-top: 0 !important;
    }
    .emailProductContainer .emailProductName {
        line-height: 16px !important;
    }
    .emailProductTotal {
        width: 100% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .emailProductTotal table {
        width: 100% !important;
    }
    .emailProductTotal table td {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .emailOrderStatus {
        display: block !important;
        font-size: 14px !important;
    }
    .emailHeader .emailOrderTotal,
    .emailHeader .emailOrderDate {
        font-size: 14px !important;
    }
    .emailShippingInfo,
    .emailBillingInfo {
        width: 100% !important;
        display: block !important;
        padding-top: 13px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .emailBodyBottom {
        padding-top: 17px !important;
        padding-bottom: 0 !important;
    }
    .emailStoreAddress {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .emailStoreAddress p {
        font-size: 10px !important;
    }
    .emailOrderInfo {
        padding-top: 15px !important;
    }
    .emailOrderInfo table td {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .emailOrderInfo tr:first-child  td {
        padding-top: 18px !important;
    }
    .emailOrderInfo tr:last-child td {
        padding-bottom: 25px !important;
    }
    .emailWelcome .emailLogo {
        padding-bottom: 10px !important;
    }
    .emailTile .emailButtonLink {
        font-size: 11px !important;
        line-height: 18px !important;
    }
    .emailTile .emailProductButton {
        padding-top: 20px !important;
    }
    .emailProductContainer.emailProductLowStock  {
        padding-top: 0 !important;
    }
    .emailCustomerNote {
        padding-top: 10px !important;
    }

    .emailPoweredBy p {
      color:#00838f !important;
      font-style: 15px !important;
      text-align: center !important;
    }
    
    .emailMarkdown p {
      text-align: center !important;
    }
}
