@import 'variables';

.application-element {
 margin-right: 20px;
}

.media-button{
    margin-top:-10px;
}

#tag{
    margin-right: 3px;
}


.btn-application{
    border: 2px solid;
    color: $grid-link-hover;
    border-radius: 2px;
    font-size: 14px;
}

.apply-now-icon{
    font-size: 23px;
    position: relative;
    top: 3px;
    margin-top: -3px;
    margin-right: 3px;
    margin-left: -3px;
}

.following-icon{
    float: right;
    font-size: 25px;
    width: 25px;
    margin-left: -25px;
    color: $grid-link-hover;
}


/*badge advert grid */
#badge-advert{
    #grid .grid-container {
        background-color: #ffffff;
        border: 1px solid #d2d2d2;
        box-shadow: 0px 4px 0px #dcdcdc;
        -webkit-box-shadow: 0px 4px 0px #dcdcdc;
        margin-bottom: 20px;
        margin-top:0px;
        line-height: 1.4;
        padding:10px;
        height: 270px;
        max-width: 200px;
        min-width: 200px;
        float: left;
        margin-right: 20px;
    .media-content {
        text-align: center;
        height: auto;
        .icons {
            text-align: left;
        }
        .visibility-icon {
            font-size: 20px;
            width:30px;
            text-align: left;
            line-height: 1em;
            color: $icon-color;
        }
        .media-body{
            .media-description, .badge-description, .media-expires  {
                display: none;
            }
            .media-recipients {
                padding-top:5px;
                color: $title-color;
                font-size: 12px;
                font-weight: bold;
                margin-top: 3px;
                line-height: 12px;
            }
            .media-heading{
                margin:5px 0px 5px 0px;
                color: $badge-title;
                font-size: 16px;
                line-height: 1.2em;
                height: 2.4em;
		overflow: hidden;
                a {
                    cursor: pointer;
                    font-size: 16px;
                    color: $badge-title;
                    &:hover {
                    color:$badge-title-hover;
                    }
                }
            }
            .media-issuer {
                padding-top:3px;
                line-height: 1.2em;
                height: 2.8em;
                overflow-y: hidden;
                font-size: 12px;
                    a {
                        color:$text-color;
                        font-size: 13px;
                    }
            }
	    .btn-advert{
		border: 2px solid;
		color:  $badge-title;
		border-radius: 2px;
		font-size: 14px;
		a {
                    cursor: pointer;
		    &:hover {
			color:$badge-title-hover;
		    }
		}

	
	    }

        }
        .media-left {
            float:none;
            display: block;
            padding:0px;
            min-height: 130px;
            min-width: 130px;
            img {
                height:130px;
                width: 130px;
                margin-top:0px;
            }
        }
    }
    .media-bottom{
        border-top:none;
        a.bottom-link, a.badge-download {
            color:$title-color;
            font-size: 20px;
            i.fa {
                color:$title-color;
                padding-right: 0px;
            }
            &:hover {
                color:$icon-color;
                i.fa {
                    color:$icon-color;
                }
            }
        }
        .checkbox {
            color: $grid-link;
            font-size: 14px;
            margin: 0;
            input{
                margin:0px;
                position: relative;
                margin-bottom:5px;
            }
            label {
                padding-left:0px;
                span {
                    padding-left:8px;
                    display: inline-block;
                    vertical-align: bottom;
                    line-height: 25px;
                }
            }
        }
        .badge-download:hover {
            color: $menu-active;
        }
    }
    #add-element-link {
        color: $orange-color;
        font-weight: bold;
    }
    .media-content.media-expired,  .media-content.media-revoked, &.error .media-content, &.duplicate .media-content {
        opacity: 1;
        .media-left {
            opacity: 0.3;
        }
        .media-body {
            .media-expires{
               color: #757575;
            }
            .media-description, .media-heading a, .media-heading, .badge-description, .media-issuer a {
                color:#757575;
                font-weight: normal;
            }
        }
        .visibility-icon, .lefticon {
            color:$dark-red;
            font-size: 14px;
            text-transform: uppercase;
            i {
                font-size: 20px;
                margin-right: 8px;
                vertical-align:middle;
                display: inline-block;
                color:$dark-red;
            }
        }
        .icons {
            text-align: left;
            .visibility-icon {
                text-align:right;
                float:right;
                i {
                    margin-right:0px;
                }
            }
        }
        .lefticon {
            display: inline-block;
        }
        .righticon {
            float: right;
            font-size: 18px;
            line-height: 1em;
            color: $dark-red;
            cursor: pointer;
        }
        &~.media-bottom{
            line-height: 1em;
            padding-top:8px;
            div:before{
                font-size: 20px;
                padding-right: 7px;
                display: block;
                float: left;
                padding-top: 3px;
                line-height: 18px;
            }
            a.bottom-link {
                color:#757575;
                &:hover {
                    color:$text-color;
                }
                i.fa {
                    color:$dark-red;
                }
            }
            .expired {
                i.fa {
                    color:$dark-red;
                }
            }
        }
    }
    &.expired .media-content{
        &~.media-bottom{
            line-height: 30px;
        }
    }
    }
}

/* metosin autocomplete */

.autocomplete {
  position: relative;
}
.autocomplete__control {
    -webkit-appearance: none;
    background: #FFF url(/img/down_arrow.png) no-repeat top right;
  padding: 4px 8px;
  overflow: hidden;
  cursor: text;
}
.autocomplete__control:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #444 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  
}
.autocomplete__control--open:after {
  border-color: transparent transparent #444 transparent;
  border-width: 0 5px 5px 5px;
}
.autocomplete__control--disabled {
  border: 1px solid #454545;
  background: #f9f9f9;
  cursor: not-allowed;
  color: #545454;
}
.autocomplete__control--disabled:after {
  border-color: #ccc transparent transparent transparent;
}
.autocomplete__input {
  border: 0;
  outline: none;
  max-width: 100%;
}
.autocomplete__input[disabled] {
  background: none;
}
.autocomplete__dropdown {
  position: absolute;
    z-index: 1000;
    width: 100%;
    min-width: 250px;
    background: #fff;
    border: 1px solid #444;
    margin-top: -1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.autocomplete__dropdown--above {
  margin-top: 0px;
  margin-bottom: -1px;
}
.autocomplete__dropdown-content {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.autocomplete__item {
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.autocomplete__item:hover {
    color: #FFFFFF;
  background: $grid-link-hover; //hae oikea orange
}
.autocomplete__item--selected {
 // background: #CAECFF;
}
.autocomplete__item--active {
 // background: #CBFFCA;
}
.autocomplete__selected-items {
  display: inline-block;
}
.autocomplete__selected-item {
  display: inline-block;
  border-radius: 2px;
  background: #CBFFCA;
  margin-right: 8px;
}
.autocomplete__item-text {
  padding: 2px 4px;
}
.autocomplete__no-results {
  padding: 4px 8px;
}
.autocomplete__level-1 {
  padding-left: 0px;
}
.autocomplete__level-2 {
  padding-left: 30px;
}
.autocomplete__level-3 {
  padding-left: 60px;
}
.autocomplete__level-4 {
  padding-left: 90px;
}
.autocomplete__level-5 {
  padding-left: 120px;
}
.autocomplete__level-6 {
  padding-left: 150px;
}
.autocomplete__level-7 {
  padding-left: 180px;
}
.autocomplete__level-8 {
  padding-left: 210px;
}
.autocomplete__level-9 {
  padding-left: 240px;
}
.autocomplete__level-10 {
  padding-left: 270px;
}
.autocomplete__level-11 {
  padding-left: 300px;
}
.autocomplete__level-12 {
  padding-left: 330px;
}
.autocomplete__level-13 {
  padding-left: 360px;
}
.autocomplete__level-14 {
  padding-left: 390px;
}
.autocomplete__level-15 {
  padding-left: 420px;
}
.autocomplete__level-16 {
  padding-left: 450px;
}
.autocomplete__level-17 {
  padding-left: 480px;
}
.autocomplete__level-18 {
  padding-left: 510px;
}
.autocomplete__level-19 {
  padding-left: 540px;
}
.autocomplete__level-19 {
  padding-left: 570px;
}
.autocomplete__remove-item-button {
  color: #444 !important;
  padding: 2px 4px;
  border-left: 1px solid #fff;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}
.autocomplete__remove-item-button:hover {
  background: #67ff64;
}
.autocomplete__clear-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 2px 4px;
  display: none;
}
.autocomplete__clear-button:after {
  content: "\232B";
}
.autocomplete__highlight {
  background: #FFF1C2;
}