$main-color: #03a3fc;
$second-color: #0afed1;
$third-color: #0a26fe;
$background-color: #efefef;
$text-color: #5a5257;

$menu-color: $text-color;
$menu-active: #046FC2; //$main-color;
$title-color: $text-color;
$titlebar-color: $main-color;
$button-color: $main-color;
$dark-green: darken($second-color, 10%);
$dark-blue: darken($main-color, 10%);
$button-hover: #0879D1; //$dark-blue;
$link-color: $third-color;//$button-hover;
$badge-title: $button-hover;
$badge-title-hover: $main-color;
