$titlebar-color: #00739a;

$menu-color: #756A70;
$menu-active: darken($menu-color, 18%);
$title-color: $menu-color;

$link-color:#551A8B;
$link-hover: #2f0161;
$grid-link: $link-color;
$grid-link-hover: $link-hover;

$badge-title:#00739A;
$badge-title-hover:#189fb5;

$button-color: #00739a;
$button-hover: #189fb5;

$icon-color: #a28f9b;