/* VARIABLES OVERWRITE */
@import 'cancred_variables';

@import '../admin';
@import '../badge';
@import '../core';
@import '../file';
@import '../gallery';
@import '../location';
@import '../oauth';
@import '../page';
@import '../social';
@import '../user';
@import 'application';
@import '../rtl';
@import '../metabadge';
@import '../profile';
@import '../badgeIssuer';

.logo-image-url{
  width: 350px;
  height: 48px;
  background-image: url("/img/extra/cancred/logo.png");
}

.logo-image-icon-url {
  width: 48px;
  height: 48px;
  background-image: url("/img/extra/cancred/logo_icon.png");
}

.system-image-url {
  width: 90px;
  height: 90px;
  background-image: url("/img/extra/cancred/logo_icon.png");
}

.issuedbyobf-image-url{
  width: 195px;
  height: 50px;
  background-image: url("/img/extra/cancred/issuedbyobf.png");
}

.verifiedissuedbyobf-image-url {
  width: 220px;
  height: 44px;
  background-image: url("/img/extra/cancred/verifiedissuedbyobf.png");
}

#registration-page #narrow-panel{
   .logo-image-icon-url {
     //width: 78px;
     //height: 75px;
     background-image: url("/img/extra/cancred/logo_icon.png");
     background-size: contain;
  }

  .media {
    margin-top: 10px;
    .media-body {
      vertical-align: middle !important;
    }
  }
}

a#login-button {
  background-color: $button-color;
  border-color: $button-color;
  &:hover {
    background-color: $button-hover;
  }
}

nav a#login-button{
  /* client request, no top row login button */
  display: none;
}

//NAVBAR FIXED TOP
.navbar-fixed-top {
  margin-right: 80px;
}

.logo-main, .logo-icon {
  height: 48px;
}

div#navbar {
  background: none;
  background-color: #FFFFFF;
}

ul.navbar-nav {
  li a {
    color: $icon-color;//$button-hover;
  }

  li.active a, li a:hover {
    color: $button-color;
  }
}


/*.title-row {
border-bottom-color: #9DBE5F;
}*/

ul.side-links {
  li a {
    color: $button-hover;
  }
  li.active a, li a:hover {
    color: #00739A;
  }
  @media (max-width: 767px){
    li.active a {
      background-color: $button-hover;
      color: #FFF;
      //border: 1px solid #d8d8d8;
      border-bottom: 0px;
      margin-bottom: -1px;
    }
  }
}

ul#secondary-menu-links li a i.fa {
  color: $button-hover;
}

#dashboard {
  #welcome-block {
    .welcome-block {

      background-color: none;
      background: $titlebar-color;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, $button-hover, $titlebar-color);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, $button-hover, $titlebar-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

  }
  .connections-block .info-block .text p.num, .badge-block .connections-block .info-block .text p.num {
    color: #a1d1ca;
  }

  .badge {
    background-color: $link-color;//#2e2464;
  }

  .profile-block .profile-visibility a{
    color:$link-color;
  }

  #box_3, #box_6{
    p {
      font-weight: 400;
    }
    .help .quicklinks p{
      color: $link-color;
      font-weight: 400;
      &:active, &:hover, &:focus {
        text-decoration: underline;
      }
    }
    .help.title {
      color: $text-color;
    }

    .name {
      color: #000;
    }

  }

  .block  {
    .heading_1, .profile-block .heading_1 {
      color: $button-color !important;
    }

    .pending {
      color: $link-color; //#2e2464;
    }

    .title {
      color: $button-color;

    }

    .button {
      background-color: $button-color !important;

      &:hover, &:active, &:focus {
        background-color: $button-hover !important;
      }
    }

    .content {
      .badge-connection {
        background-color: #2e2464 !important;
      }

      .page {
        background-color: #0C4F5A; //$button-color;
      }

      .map {
        background-color: #8984a8;
        .info, .text {
          color: #1E1E1E;
        }
      }


    }

  }

  #box_1 .notifications-block .notification-div .content-text{
    color: $text-color;
    .date {
      color: $link-color;
    }
  }
}

.title-row {
  background-color: none;
  background: $titlebar-color;  /* fallback for old browsers */
  background:linear-gradient(to left, $button-hover, $titlebar-color);
}

#profiletips .tip, #_profiletips .tip{
  .tipicon, a {
    color: $link-color;

  }
}

.btn-success {
  background-color: $button-color;
  border-color: $button-color;

  &:active:hover,
  &:focus,
  &:hover {
    background-color: $button-hover;
    border-color: $button-hover;
    /*         box-shadow: 0px 2px $box-shadow; */
   }
}

#page-edit .field .field-move .move-arrows {
 .move-down,
 .move-up {
  color: $button-hover;
 }
}

#page-edit #block-modal .block-types div.content-type,
#page-edit-theme #block-modal .block-types div.content-type {
 background-color: $button-color;
 color: #fff;

 &:focus,
 &:hover {
  background-color: $button-hover;
 }
}


#field-editor .field .field-content #badge-showcase {
 .addbadge .add-icon {
  color: $button-hover;
 }

 #grid .grid-container {
  .move-left i,.move-right i{
   color: $button-color;
  }
 }
}

 #my-files #grid #add-element #add-element-link,
 #my-files #grid #add-element .add-element-link,
 #page-gallery #grid #add-element #add-element-link,
 #page-gallery #grid #add-element .add-element-link,
 #profile-gallery #grid #add-element #add-element-link,
 #profile-gallery #grid #add-element .add-element-link,
 #user-pages #grid #add-element #add-element-link,
 #user-pages #grid #add-element .add-element-link,
 .pages #grid #add-element #add-element-link,
 .pages #grid #add-element .add-element-link {
  color: $button-color; //$blue;//$text-color;
  font-weight: bold;

  &:hover {
   color: $button-color;
  }
 }

#theme-0 {
  .panel-left, .panel-right {
    background: -webkit-linear-gradient(to bottom, $titlebar-color, $button-hover);
    background: linear-gradient(to bottom, $titlebar-color, $button-hover);
  }
}

#page-edit, #profile, #page-edit-theme, #page-settings {
 .action-bar {
  &:hover {
   opacity: 1;
  }
 }
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  background-color:$button-hover;
}

#profile .profile-navi {
  .nav .open > a {
      border-color: $button-color;
  }
  .close {
   opacity:0.8;
   color: #314755;
   &:hover {
    opacity: 1;
   }
  }
  .nav-tabs {
  border-bottom: 1px solid $button-color;
  >li {
   margin-bottom: 0;
  }
  >li a {
   margin-right: 0;
   text-decoration: none;
  }
  > li.active a {
    color: $button-hover;
    border: 1px solid $button-color;
    border-bottom-color: transparent;
  }
 }
}

.grid-element-info, .modal-navi-info, #social-tab span.social-panel-info, span.endorsement-notification {
  background-color: $link-color !important;
}

div.footer {
  a {
    color: $link-color;
  }
}

p.text-muted {
  color: #816F6E;
}

.btn-warning {
  color: #372C2C;
}

#grid-filter .btn {
  background-color: $titlebar-color;
  border-color: $titlebar-color;
}

#my-files .file-icon-large, .max-file-size {
  color: $icon-color;
}

#login-page .btn-primary {
  color: #1E1E1E;
}

.selfie-stamp {
  line-height: 0px;
  .logo-image-url {
    width: 160px;
  }
}

/*#my-badges #grid .grid-container .media-content .icons{
text-align:left;
.visibility-icon{
width:30px;
font-size: 20px;
padding-bottom: 5px;
display: inline-block;
text-align: left;
i{
cursor: pointer;
}
}
.righticon {
text-align: right;
float:right;
font-size: 18px;
display: inline-block;
line-height: 1em;
&.revoked, &.expired {
cursor: pointer;
color:#8c2e0b;
}
}
.lefticon {
color:#8c2e0b;
font-size: 14px;
text-transform: uppercase;
display: inline-block;
i {
font-size: 20px;
margin-right: 8px;
vertical-align:middle;
display: inline-block;
color:#8c2e0b;
}
}
}
legend, .form-horizontal legend.control-label {
text-align:left;
color:inherit;
font-size: inherit;
border:none;
font-weight: bold;
}*/
