$titlebar-color: #1F1B35;

$menu-color: #1F1B35;
$menu-active: darken($menu-color, 18%);
$title-color: $menu-color;

$link-color: #447A90; //#467d91;
$link-hover:  #996B6A; //#999999;//lighten($link-color, 5%);
$grid-link:  #333333;
$grid-link-hover: lighten($grid-link, 5%);

$badge-title:#1e1a34;
$badge-title-hover:#999;

$button-color: #f1b435;
$button-hover: #d1d1d1; //lighten($button-color, 5%);

$icon-color: #1F1B35;

$text-color: #1F1B35;

$green: #6D7E29; //#76881D;  //#5cb85c;
