$titlebar-color: #cce800;
$login-button-active: darken($titlebar-color, 5%);

$menu-color: #023b6b;
$menu-active: #fc4c02;
$title-color: $menu-color;

$text-color: #1d1d1d;

$link-color: $text-color;
/* $link-color: #00cdb2; */
$link-hover:$text-color;
$grid-link:  #023b6b;
$grid-link-hover: lighten($grid-link, 5%);

$badge-title: $link-color;
$badge-title-hover:$link-hover;

$button-color: $titlebar-color;
$button-hover: rgba(242, 249, 191, 1);

$icon-color: #d2d2d2;

$green: #7f7179;
$grey: #d2d2d2;
$orange-color: #db442c;
$orange-hover: #db442c;

$background-color: #F4F4F4;
$blue: #568EB4;

