/* VARIABLES OVERWRITE */
@import 'hpass_variables';
@import '../admin';
@import '../badge';
@import '../core';
@import '../file';
@import '../gallery';
@import '../location';
@import '../oauth';
@import '../page';
@import '../social';
@import '../user';
@import 'application';
@import '../rtl';
@import '../profile';
@import '../metabadge';

/* Fonts */
@font-face {
 font-family: 'GTAmerica';
 src: url("/css/extra/fonts/GTAmerica/GT-America-Standard-Bold.eot");
 src: url("/css/extra/fonts/GTAmerica/GT-America-Standard-Bold.eot?#iefix&v=4.3.0") format('embedded-opentype'), url("/css/extra/fonts/GTAmerica/GT-America-Standard-Bold.woff2?v=4.3.0") format('woff2'), url("/css/extra/fonts/GTAmerica/GT-America-Standard-Bold.woff?v=4.3.0") format('woff'), url("/css/extra/fonts/GTAmerica/GT-America-Standard-Bold.ttf?v=4.3.0") format('truetype');
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: 'GTAmerica';
 src: url("/css/extra/fonts/GTAmerica/GT-America-Standard-Light.eot");
 src: url("/css/extra/fonts/GTAmerica/GT-America-Standard-Light.eot?#iefix&v=4.3.0") format('embedded-opentype'), url("/css/extra/fonts/GTAmerica/GT-America-Standard-Light.woff2?v=4.3.0") format('woff2'), url("/css/extra/fonts/GTAmerica/GT-America-Standard-Light.woff?v=4.3.0") format('woff'), url("/css/extra/fonts/GTAmerica/GT-America-Standard-Light.ttf?v=4.3.0") format('truetype');
 font-weight: normal;
 font-style: normal;
}

.logo-image-url {
 width: 155px;
 height: 87px;
 background-image: url("/img/extra/hpass/logo.png");
}

.logo-image-icon-url {
 width: 155px;
 height: 87px;
 background-image: url("/img/extra/hpass/logo.png");
}

.system-image-url {
 width: 90px;
 height: 90px;
 background-image: url("/img/extra/hpass/logo_icon.png");
}

.issuedbyobf-image-url {
 width: 195px;
 height: 50px;
 background-image: url("/img/extra/hpass/issuedbyobf.png");
}

.verifiedissuedbyobf-image-url {
 width: 220px;
 height: 44px;
 background-image: url("/img/extra/hpass/verifiedissuedbyobf.png");
}

#registration-page #narrow-panel{
   .logo-image-icon-url {
     width: 48px;
     height: 48px;
     background-image: url("/img/extra/hpass/logo_icon.png");
     background-repeat: no-repeat;
     background-size: contain;
  }

  .media {
    margin-top: 10px;
    .media-body {
      vertical-align: middle !important;
    }
  }
}
body.anon {
 background-size: cover;
 overflow-x: hidden;
 min-height: 100%;
 background-image: url("/img/extra/hpass/background.jpg");
 background-position: center bottom;

 header#navbar {
  border-bottom: 5px solid $light-blue;
 }
 @media (max-width: 425px) {
  background: none;
  overflow: scroll;

  .login_top h1 {
   font-size: 30px;
  }
 }
 @media (max-width: 550px) {
  .container.main-container {
   padding-right: unset;
   padding-left: unset;
   margin-right: unset;
   margin-left: unset;
  }
 }

 #login-page {
  padding-bottom: 2px;

  .login-links {
   margin-top: 20px;
  }

  form {
   text-align: center;
   padding-top: 15px;
  }

  .form-group {
   margin-right: auto;
   margin-left: auto;
   max-width: 300px;
  }
 }

 a {
  text-decoration: none;
  font-weight: bold;
  color: $link-color;
 }

 #narrow-panel {
  max-width: 568px;
  border-top: none;
  border-bottom: none;
  margin: 0 auto;
  border-radius: 0;
 }

 footer.footer {
  margin-top: 20px;
  background-color: #e5e5e5;
  border-top: 1px solid $light-blue;

  .footer-container {
   .text-muted {
    color: #000000;
   }
   border-top: none;
   font-size: 14px;
  }
 }

 #reset-password .panel-body form .btn-primary {
  color: $text-color;
 }
}

#login-page .btn-primary,
.btn-primary,
.btn-primary:active:focus,
.btn-primary:focus,
a#login-button {
 background-color: $titlebar-color !important; // #000 !important; //$titlebar-color;
 border: 1px solid transparent;
 border-color: $login-button-active; //$titlebar-color;
 transition: background 0.3s, border 0.3s;
 //text-transform: uppercase;
 //color: #000000;
 color: $text-color;
 font-weight: bold !important;
 box-shadow: none;
 text-decoration: none;

 &:hover {
  background-color: $light-green !important; //#fff !important; // rgba(242, 249, 191, 1) !important;
  border: 1px solid $titlebar-color;
  //border-color: #000; //rgba(242, 249, 191, 1) !important;
  color: #000; //$text-color;
 }
}

nav a#login-button{
  /* client request, no top row login button */
  display: none;
}

.btn-warning {
 background-color: $menu-active;
 border-color: $menu-active;

 &:hover {
  background-color: lighten($menu-active, 5%);
 }
}
//NAVBAR FIXED TOP
.navbar-fixed-top {
 margin-right: 80px;
}

ul.side-links {
 li a {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
 }

 li a:hover,
 li.active a {
  color: #b54681; //$titlebar-color;
 }
 @media (max-width: 767px) {
  li.active a {
   background-color: #b54681; //$titlebar-color;
   color: #FFF;
  }
 }
}

ul.navbar-nav li a {
 text-decoration: none;
}

.media.message-item .media-body a {
 color: $text-color;
 font-weight: bold;
}

.message-item.media h3.media-heading a {
 text-decoration: underline;
}
/*humanitarian leadership academy changes*/
#buttons .col-xs-8 .btn,
#grid-filter .btn {
 background: $titlebar-color;//$button-color;
 border-color: $titlebar-color; //$button-color;
 line-height: 19px;
 box-shadow: none;
 color: #000000;
 font-weight: bold;

 &.btn-active {}
}

#grid-filter .copy-boxes .btn {
  &:hover, &:active{
    color: black;
    box-shadow: none;
  }
}

body {
 font-family: "GT America", "Arial", sans-serif;
 background-color: $background-color;
 color: $text-color;

 a {
  color: $link-color;
  text-decoration: none;
  outline: none !important;
  font-weight: 600;
 }

 #grid a {
  text-decoration: none !important;
 }

 #badge-info a {
  //color: $text-color;
  //text-decoration: underline;
 }

 #badge-stats .panel .panel-heading {
  h3 {
   color: $text-color;
  }

  a {
   text-decoration: none;

   &:hover {
    color: $titlebar-color;
   }
  }
 }

 #page-view .checkbox {
  color: $text-color;
 }

 #page-buttons-share .checkbox label {
  text-decoration: underline;
 }

 #content .uppercase-header {
  color: $text-color;
 }

 .endorsement-link {
  &:before {
   color: $text-color !important;
  }
 }

 #my-files #grid #add-element #add-element-link,
 #my-files #grid #add-element .add-element-link,
 #page-gallery #grid #add-element #add-element-link,
 #page-gallery #grid #add-element .add-element-link,
 #profile-gallery #grid #add-element #add-element-link,
 #profile-gallery #grid #add-element .add-element-link,
 #user-pages #grid #add-element #add-element-link,
 #user-pages #grid #add-element .add-element-link,
 .pages #grid #add-element #add-element-link,
 .pages #grid #add-element .add-element-link {
  color: $link-color; //$blue;//$text-color;

  &:hover {
   color: $link-color;
  }
 }

 .pages #grid {
  #add-element {
   #add-element-icon {
    color: $icon-color;
   }
  }

  .media-bottom a.bottom-link {
   color: $icon-color;

   &:hover {
    color: $text-color;
   }
  }

  .media-content {
   .page-create-date {
    color: $text-color;
   }
  }
 }

 #badge-gallery #badges #grid .grid-container .media-content .media-body .media-heading,
 #export-badges #grid .grid-container .media-content .media-body .media-heading,
 #my-badges #grid .grid-container .media-content .media-body .media-heading,
 #user-badges #grid .grid-container .media-content .media-body .media-heading,
 .import-badges #grid .grid-container .media-content .media-body .media-heading {
  color: $link-color;
 }

 #my-files #grid #add-element .add-element-link {
  color: $link-color;
 }

 #my-badges #grid #import-badge #add-element-link,
 #my-badges #grid #import-badge .add-element-link {
  color: $link-color;

  &:hover {
   color: $link-color;
  }
 }

 #badge-gallery #grid-filter a {
  text-decoration: underline;
 }

 #badge-gallery #user-pages #grid .media-content .media-body .media-heading a.heading-link,
 #badge-gallery #user-pages #grid .media-content .media-body .media-heading p.heading-link,
 #my-files #grid .media-content .media-body .media-heading a.heading-link,
 #my-files #grid .media-content .media-body .media-heading p.heading-link,
 #page-gallery #grid .media-content .media-body .media-heading a.heading-link,
 #page-gallery #grid .media-content .media-body .media-heading p.heading-link,
 #profile-gallery #grid .media-content .media-body .media-heading a.heading-link,
 #profile-gallery #grid .media-content .media-body .media-heading p.heading-link,
 #user-pages #grid .media-content .media-body .media-heading a.heading-link,
 #user-pages #grid .media-content .media-body .media-heading p.heading-link,
 .pages #grid .media-content .media-body .media-heading a.heading-link,
 .pages #grid .media-content .media-body .media-heading p.heading-link {
  color: $link-color;
  //font-weight: bold;
  &:hover {
   color: $link-color;
  }
  //text-decoration: underline;
 }

 .pages #grid .media-content .media-body .visibility-icon {
  color: #373739;
  font-size: 20px;
 }

 #assertion-info th {
  color: $link-color;
 }

 .message-item.media {
  .date {
   color: $text-color;
  }
 }

 .form-bar-success {
  border-color: $titlebar-color;
 }
}
@media (min-width: 768px) {
 .navbar-right {
  margin-top: 20px;
  float: left !important;

  #secondary-menu-links {
   border: none;
   float: right;
  }
 }
}

ul.navbar-nav {
 margin-top: 40px;
 margin-right: 10px;

 li a {
  text-transform: none;
  font-weight: 300;
  font-size: 21px !important;
  color: black;
 }

 li.active a {
  border-bottom: 3px solid $pink; //4px solid $titlebar-color;
 }
 @media (max-width: 1120px) {
  margin-top: 20px;
 }
 @media (max-width: 768px) {
  text-align: left;
 }
}

.navbar-collapse {
 width: 100%;
}

header#navbar {
 background-image: none;
 min-height: 110px;
 box-shadow: 0 0 9px $light-blue !important; //0 0 5px rgba(0, 0, 0, 0.4) !important;
}

.navbar-header {
 padding-top: 0;
 padding-bottom: 5px;
 float: left !important;
 @media (max-width: 767px) {
  float: none;

  .logo.pull-left {
   float: left !important;
  }
 }
}

#main-header {
 //visibility: hidden;
 float: right !important;
 margin-top: 37px;
 width: auto;
}

#main-header-right {
 float: right !important;
}

.title-row {
 background-color: $titlebar-color;

 h1 {
  font-size: 24px;
  font-weight: 600;
  //color: #222;
  color: $link-color; //#c1bbbb !important;
  padding-bottom: 8px;
 }
}

#badge-gallery #grid .grid-container .media-content .media-body .media-heading a,
#export-badges #grid .grid-container .media-content .media-body .media-heading a,
#my-badges #grid .grid-container .media-content .media-body .media-heading a,
#user-badges #grid .grid-container .media-content .media-body .media-heading a,
.import-badges #grid .grid-container .media-content .media-body .media-heading a {
 font-weight: 400 !important;
 text-decoration: underline;

 &:hover {
  color: $text-color;
 }
}

#badge-gallery #grid .grid-container .media-bottom .checkbox,
#export-badges #grid .grid-container .media-bottom .checkbox,
#my-badges #grid .grid-container .media-bottom .checkbox,
#user-badges #grid .grid-container .media-bottom .checkbox,
.import-badges #grid .grid-container .media-bottom .checkbox {
 color: $text-color !important;
}

#badge-gallery #grid .grid-container .media-content .media-body .media-recipients,
#export-badges #grid .grid-container .media-content .media-body .media-recipients,
#my-badges #grid .grid-container .media-content .media-body .media-recipients,
#user-badges #grid .grid-container .media-content .media-body .media-recipients,
.import-badges #grid .grid-container .media-content .media-body .media-recipients {
 color: $text-color !important;
}

#badge-gallery #grid .grid-container .media-bottom a.badge-download i.fa,
#badge-gallery #grid .grid-container .media-bottom a.bottom-link i.fa,
#export-badges #grid .grid-container .media-bottom a.badge-download i.fa,
#export-badges #grid .grid-container .media-bottom a.bottom-link i.fa,
#my-badges #grid .grid-container .media-bottom a.badge-download i.fa,
#my-badges #grid .grid-container .media-bottom a.bottom-link i.fa,
#user-badges #grid .grid-container .media-bottom a.badge-download i.fa,
#user-badges #grid .grid-container .media-bottom a.bottom-link i.fa,
.import-badges #grid .grid-container .media-bottom a.badge-download i.fa,
.import-badges #grid .grid-container .media-bottom a.bottom-link i.fa {
 color: $grey;
}

#my-files #grid .media-content .media-body .media-heading,
#page-gallery #grid .media-content .media-body .media-heading,
#profile-gallery #grid .media-content .media-body .media-heading,
#user-pages #grid .media-content .media-body .media-heading,
.pages #grid .media-content .media-body .media-heading {
 line-height: 1.2em;
}

#my-files #grid .media-content .media-body .media-heading a.heading-link,
#page-gallery #grid .media-content .media-body .media-heading a.heading-link,
#profile-gallery #grid .media-content .media-body .media-heading a.heading-link,
#user-pages #grid .media-content .media-body .media-heading a.heading-link,
.pages #grid .media-content .media-body .media-heading a.heading-link {
 color: $text-color;
 text-decoration: underline;

 &:hover {
  color: $text-color;
 }
}

button.navbar-toggle {
 position: absolute;
 right: 0;
 margin-top: 45px;
}
/*Login Page*/
.login-top-container {
 min-width: 100%;
}

.login_top {
 max-width: 568px;
 margin: 25px auto 0;
 padding: 5px;
 background-color: #FFF;
 text-align: center;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 border: 1px solid #cccccc;
 border-bottom: none;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;

 hr {
  margin-top: 0;
  height: 2px;
  background-color: $light-blue;
  width: 150px;
 }
}

.login-bottom {
 max-width: 568px;
 margin: 0 auto;
 padding-top: 0;
 padding-bottom: 0;
 background-color: #f9f9f9;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 border: 1px solid #cccccc;
 border-top: none;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 text-align: center;

 p {
  color: $text-color !important;
 }

 .footer {
  background-color: $light-brown;
  height: 27px;
 }
}

.btn-primary {
 background-color: $titlebar-color !important;
 border: 1px solid transparent;
 border-color: $login-button-active;
 transition: background 0.3s, border 0.3s;
 //text-transform: uppercase;
 //color: #000000;
 color: $text-color;
 font-weight: bold !important;
 box-shadow: none;
 text-decoration: none;

 &:active,
 &:focus,
 &:hover {
  background-color: $light-green !important; //#fff !important; // rgba(242, 249, 191, 1) !important;
  border: 1px solid $titlebar-color;
  //border-color: #000; //rgba(242, 249, 191, 1) !important;
  color: $text-color;
 }
}

.btn-success {
 background-color: #dcea74; //$text-color !important;
 border-color: $titlebar-color;//#dcea74 !important; //$text-color !important;
 font-weight: bold;
 color: $text-color !important; //$background-color !important;

 &:active:hover,
 &:focus,
 &:hover {
  background-color: $titlebar-color;//$titlebar-color !important;
  border-color: $titlebar-color !important;
  color: $background-color;
  /*         box-shadow: 0px 2px $box-shadow; */
 }
}

.btn-warning {
 background-color: $pink;
 border-color: $pink;
 color: black;
 //background-color: $orange-color !important;
 //border-color:$orange-color !important;
 font-weight: bold;

 &:active:hover,
 &:focus,
 &:hover {
  background-color: $pink-hover !important;
  border-color: $pink-hover !important;
  color: black;
  /*         box-shadow: 0px 2px $box-shadow; */
 }
}

ul#secondary-menu-links li a i.fa {
 color: $pink; //$titlebar-color;
}

#my-badges #grid .grid-container .media-content .icons i {
 color: $icon-color;
}

.fa-trash {
 color: $dark-red !important;
}

a.popup-info {
 .fa {
  color: $orange-color;
 }
}

#dashboard {
  width: 100%;
  .profile-block {
    img {
      border: 1px solid #cdd455;
    }
  }
 #welcome-block {
  .welcome-block {
    background-repeat: no-repeat;
    background-image:linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0.2)), url("/img/extra/hpass/hpass_welcome_background.png");
    background-size: cover;
   @media (max-width: 768px) {
    background-image: linear-gradient(to right, #cce800, #d1ea2f, #d6ed47, #dbef5a, #e0f16b, #e0f16b, #e0f16b, #e0f16b, #dbef5a, #d6ed47, #d1ea2f, #cce800);
   }
  }
  .icon {
    color: $text-color;
  }
  .welcome-message {
    //color: #c1bbbb;
  }
 }

 #welcome-block .hidden-content,
 .block {
  font-family: "GT America", "Arial", sans-serif !important;
  color: $text-color;

  .pending {
   color: $pink;
  }

  .heading_1 {
   .icon {
    color: $link-color;//#568EB4;
   }
  }

  .title {
   color: $link-color; //#568EB4;
  }

  .heading_1 .icon {
   //color: #117164;
  }

  .help p {
   color: #1c6799;
  }

  .button {
   border-color: $login-button-active;//$pink; //$titlebar-color;
   border: 1px solid transparent;
   background-color: $titlebar-color; //$pink;
   color: $text-color;
   transition: background 0.3s, border 0.3s, box-shadow 0.3s;

   &:active:hover,
   &:focus,
   &:hover {
    border: 1px solid $titlebar-color;
    background-color: $light-green; //#fff; //rgba(242, 249, 191, 1);
    //border-color: #000; //rgba(242, 249, 191, 1);
    box-shadow: 0px 2px $box-shadow;
    color: $text-color;
   }
   //background: linear-gradient(to right, #cce800, #d1ea2f, #d6ed47, #dbef5a, #e0f16b, #e0f16b, #e0f16b, #e0f16b, #dbef5a, #d6ed47, #d1ea2f, #cce800);
  }
 }

.profile-block .profile-visibility a{
  color:#1c6799;
}
 .info-block {
  background-color: #cdd455;//rgba(28, 103, 153, 1); //rgba(86, 142, 180, 1);
 }

 .content,
 .info-block {
  color: #000000;

  .badge-connection {
   background-color: #b84681; //rgba(17, 113, 100, 1) !important; //rgba(17, 148, 139, 1) !important;
  }

  .map{
    background-color: #568EB4;
  }

  .page {
   background-color:  #1e679e; //rgba(181, 70, 129, 1); //rgba(199, 116, 160, 1);
  }
 }

 .block {
  background: inherit;
  //background-color: $background-color; //#ffffff; //#f9f9f9; //rgba(244, 244, 244, 1);
  //border-color: rgba(242, 249, 191, 1);
  border: none;

  .title,
  a {
   text-decoration: none !important;
  }

  .content .badges {
   color: $text-color;
  }
 }

 #box_1 .notifications-block .notification-div .content-text {
  color: $text-color;

  .date {
   color: #117164 !important;
  }
 }

 .notification-div .close {
   color: $pink;
   opacity: 0.8;
 }

 .badge {
  background-color: $pink;
 }

 .date {
  color: #117164;
 }

   /*improvements to dashboard*/

   #box_1 .notifications-block {
     .notification-div  {
     background-color: unset;
     border: unset;
     border-radius: 0px;
     border-bottom: 1px solid;
     margin: 3px auto;
     .content-text {
      p.content-heading {
       font-weight: 500;
       }
      .date{
        color: $dark-green;
        font-weight: 500;
      }
     }
   }

 }

 .info-block .text p.desc {
   font-weight: 500;
 }

 .block .content p.header {
   font-weight: 400;
   }
}

.title-row {
 background: $titlebar-color;  /* fallback for old browsers */
 //background: linear-gradient(to right, $titlebar-color, #d1ea2f, #d6ed47, #dbef5a, #e0f16b, #e0f16b, #e0f16b, #e0f16b, #dbef5a, #d6ed47, #d1ea2f, #cce800);
 background-image: linear-gradient(to right top, #cdd455, #ced948, #cede3a, #cde327, #cce800);
//background: -webkit-linear-gradient(to left, #c29f90, #073863);  /* Chrome 10-25, Safari 5.1-6 */
//background-image: linear-gradient(to right bottom, #000000, #0d0d0d, #171617, #1e1d1e, #252526, #2a2a2b, #2f2f31, #343436, #38383a, #3c3c3e, #414143, #454547);
}

#endorsebadge .list-group a {
 text-decoration: none;
}

#page-edit #buttons #buttons-right, #page-edit-theme #buttons #buttons-right {
  .fa-trash {
    color: white !important;
  }
}

#page-edit #block-modal .block-types div.content-type,
#page-edit-theme #block-modal .block-types div.content-type {
 background-color: #dcea74;
 color: $text-color;

 &:focus,
 &:hover {
  background-color: $titlebar-color;
  //color: $background-color;
 }
}

#page-edit .field .field-move .move-arrows {
 .move-down,
 .move-up {
  color: $pink;
 }
}

.wizard {
 .badge {
  color: black;
 }

 a {
  color: black;
  background-color: $pink;

  &:before {
   // border-left: 20px solid $pink;
  }

  &:after {
   border-left: 20px solid $pink;
  }
 }

 .current {
  background: $pink-hover;
  color: black;

  &:after {
   border-left-color: $pink-hover;
  }
 }
}

html[dir="rtl"] .wizard {
  a {
   &:before {
     border-right-color: $pink !important;
   }
  }

   .current {
    &:before{
     border-right-color: $pink-hover !important;
    }
   }
}



#theme-0 {
 .panel-left, .panel-right{
    background-color: $titlebar-color;
    background-image: linear-gradient(to right bottom, #cdd455, #ced948, #cede3a, #cde327, #cce800);
    //background-image: linear-gradient(to right bottom, #000000, #0d0d0d, #171617, #1e1d1e, #252526, #2a2a2b, #2f2f31, #343436, #38383a, #3c3c3e, #414143, #454547);

  //background-image: linear-gradient(to bottom, #cce800, #d1ea2f, #d6ed47, #dbef5a, #e0f16b, #e0f16b, #e0f16b, #e0f16b, #dbef5a, #d6ed47, #d1ea2f, #cce800);
 }
 font-family: "GT America", "Arial", sans-serif !important;
}

#step-button,
#step-button-previous {
 font-weight: bold;
 background-color: $titlebar-color;
 color: black !important;
}

  #step-button-previous:hover,
  #step-button:hover {
    background-color: $light-green !important;
    color: black;
  }

  #step-button:hover:after {
    border-left-color: $light-green !important;
  }

  #step-button-previous:hover:before {
    border-right-color: $light-green !important;
  }

html[dir="rtl"] #step-button, #step-button-previous{
  &:hover:after{
    border-left-color: $light-green !important;
    //border-right-color: #000000 !important;
  }

  &:hover:before{
    border-right-color: $light-green !important;
  }
}

#page-edit .close-button span.remove-button,
#page-edit-theme .close-button span.remove-button {
 .fa-trash {
  color: unset !important;
 }
}

#page-edit .move span.move-block,
#page-edit-theme .move span.move-block {
 .fa-arrows {
  color: $pink;
 }
}

#field-editor .field .field-content #badge-showcase {
 .addbadge .add-icon {
  color: $pink;
 }

 #grid .grid-container {
  .move-left i,.move-right i{
   color: $pink;
  }
 }
}
#profile .profile-navi .nav-tabs {
 border-bottom: 1px solid $titlebar-color;
  >li {
   margin-bottom: 0;
  }
 >li a {
  margin-right: 0;
  text-decoration: none;
 }
 > li.active a {
   color: $pink;
   border: 1px solid $titlebar-color;
   border-bottom-color: transparent;
 }
}

#profile span.move-tab {
  color: $pink;
  &:hover {
    color: $pink;
  }
}

#profiletips .tip{
  .tipicon, a {
    color: #1c6799;

  }
}
#profile .manage-buttons {
  .edit-btn a{
    text-decoration: none;
  }
}
.action-bar {
  //background-color: #fff;
  background-color: darken($background-color, 2%) ;
  opacity: 0.85;
}

#badge-advert .panel {
  background-color: inherit !important;
}

#my-files .file-icon-large {
  color: #373739;
}
