$titlebar-color: #f5f5f5;

$menu-color: #023b6b;
$menu-active: #fc4c02;
$title-color: $menu-color;

$link-color:#fc4c02;
$link-hover:#fc4c02;
$grid-link:  #023b6b;
$grid-link-hover: lighten($grid-link, 5%);

$badge-title:#fc4c02;
$badge-title-hover:#fc4c02;

$button-color: #00315a;
$button-hover: lighten($button-color, 5%);

$icon-color: #a28f9b;

$green: #7f7179;

$text-color: #00315a;
$orange-color: #fc4c02;
$orange-hover: #fc4c02;

$background-color: #f5f5f5;