$titlebar-color: #910000;

$menu-color: #756A70;
$menu-active: darken($menu-color, 18%);
$title-color: $menu-color;

$link-color:#910000;
$link-hover: lighten($link-color, 5%);
$grid-link:  #333333;
$grid-link-hover: lighten($grid-link, 5%);

$badge-title:#910000;
$badge-title-hover:#910000;

$button-color: #910000;
$button-hover: lighten($link-color, 5%);

$icon-color: #a28f9b;

$green: #7f7179;
