$main-color: #c8001a;
$second-color: #000000;
$third-color: #4a93a2;
$background-color: #f6f6f6;
$text-color: #000000;

$titlebar-color: #4a93a2;

$menu-color: #000000;
$menu-active: #c8001a;
$title-color: $menu-color;

$link-color:darken($menu-active, 10%);
$link-hover:#0d0d0d;
$grid-link:  #c8001a;
$grid-link-hover: lighten($link-color, 5%);

$badge-title:#c8001a;
$badge-title-hover:#910000;

$button-color: $main-color;
$button-hover: darken($main-color, 10%);

$icon-color: #a28f9b;

$green: #7f7179;
