$titlebar-color: #4a93a2;

$menu-color: #000000;
$menu-active: #c8001a;
$title-color: $menu-color;

$link-color:darken($menu-active, 10%);
$link-hover:#0d0d0d;
$grid-link:  #c8001a;
$grid-link-hover: lighten($link-color, 5%);

$badge-title:#c8001a;
$badge-title-hover:#910000;

$button-color: $link-color;
$button-hover: lighten($link-color, 5%);

$icon-color: #a28f9b;

$green: #7f7179;
