@import '../variables';

#space-gallery #grid {
  .media.grid-container {
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
    box-shadow: 0 4px 0 #dcdcdc;
    -webkit-box-shadow: 0 4px 0 #dcdcdc;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.4;
    height: 180px;
    max-width: 280px;
    min-width: 250px;
    height: auto;
    padding: 10px 15px;

    .media-content {
      height: 65px;
      .media-heading {
        font-weight: 600;
        margin-right: 0;
        margin-top: 10px;
      }

      .media-left {
        img {
          max-width: 55px;
          max-height: 55px;
          width: auto;
          height: auto;
          padding: 3px;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-top: 10px;
        }
      }

      .media-profile {
        font-size: 12px;

        .join-date {
          color: $green;
        }
      }
    }

    .common-badges {
      margin-top: 5px;
      font-size: 12px;
      color: $text-color;
    }
  }
}

#space-gallery
{
  .form-control {
    max-width: 500px;
  }
   div#add-element-icon {
          vertical-align: middle;
          font-size: 40px;
        }


}

  div.input-banner {
    width: 640px;
    height: 120px;
    border: 4px dashed #9e9e9e;
    padding: 3px;
  }

#space {
  .space-img {
    width:80px;
    height:auto;
  }
  .banner-container {
    max-width: 640px;
    height: 120px;
    padding: 8px;
    margin: 10px auto;
    border: 2px dotted #ddd;

    img {
    max-width: 640px;
    height: 100px;
    }
  }

  .color-span {
    display: inline-block;
    width: 50px;
    height: 15px;
    border-radius: 4px;
    margin: 0 5px;
    padding: 3px;
  }
}
