#ticket-container{
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
    box-shadow: 0px 4px 0px #dcdcdc;
    -webkit-box-shadow: 0px 4px 0px #dcdcdc;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.4;
}

.admintool-caret-up{
    padding-top: 1px;
    padding-left: 5px;
}

#private-button{
    margin:0px 17px 10px 0px;
}

.sub-heading {
    font-weight: bold;
    color: #7f7179;
    font-size: 15px;
}

#reportform{
    background-color: white;
}
#open-reportform-button {
    padding-bottom: 20px ;
    
}

.primary-address{
    font-weight: 600;
}
.title-bar {
    padding-left: 5px;
    //border-left: 3px solid transparent;
}

.title-bar-bug {
   // border-color: #5cb85c;
}
.title-bar-inappropriate {
    //border-color: yellow;
}
.title-bar-mistranslation {
   // border-color: green;
}
.title-bar-other {
   // border-color: gray;
}
.title-bar-fakebadge {
   // border-color: blue;
}
.media-bottom-admin{
            margin-top: 5px;
            padding-top: 10px;
            color: #766d72;
            font-size: 12px;
            min-height: 35px;
            text-transform: uppercase;
            line-height: 1;
            i.fa {
                font-size: 20px;
                padding-right: 7px;
                padding-top:3px;
            }
            a.bottom-link {
                color: #766d72;
                cursor: pointer;
                i.fa {
                    color: #b1a1ab;
                    padding-right:10px;
                }
                span {
                    vertical-align: top;
                    display: inline-block;
                    line-height: 25px;
                }
            }
            .checkbox {
                margin: 0;
            }
            .expired {
                text-transform: uppercase;
                color: #8c2e0b;
                span {
                    vertical-align: top;
                    line-height: 25px;
                }
                .fa {
                    padding-top:3px;
                }
            }
            label span {
                line-height: 25px;
            }
}
#ticket-container {
    border-left:3px solid;
    &.inappropriate {
        border-left-color: purple;
    }
    &.bug {
        border-left-color: red;
    }
    &.fakebadge {
        border-left-color: orange;
    }
    &.mistranslation {
        border-left-color: DarkCyan;
    }

    h4.media-heading{
        font-weight: 400;
        line-height: 30px;
        font-size: 16px;
    }
    h3.media-heading {
        font-size: 18px;
        u {
            text-decoration: none;
        }
        
    }
    &.inappropriate u{
        color: purple;
    }
    &.bug u{
        color: red;
    }
    &.fakebadge u{
        color: orange;
    }
    &.mistranslation u{
        color: DarkCyan;
    }
    .btn.btn-primary{
        background-color: #4a5aac;
        border-color: #353b75;
        box-shadow: 0px 2px #d8d8d8;
        &:hover {
            background-color: #353b75;
            border-color: #353b75;
        }
    }
}
