@import 'variables';

button {
    display: inline-block;
    margin: 0 2px 2px 2px;
}
/* PENDING BADGES */
#pending-badges {
    margin-bottom: 10px;
}

.badge-container-pending {
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
    padding: 25px 70px;
    margin-bottom: 10px;

    .pull-left {
        padding-right: 25px;
        img {
            width: 125px;
            padding: 10px;
            box-shadow: none;
            border: none;
            margin-bottom: 15px;
        }
    }
    .media-heading {
        font-family: 'Open Sans Condensed',sans-serif;
        font-size: 45px;
        margin: 20px 0px;
	.pending-a{
	    font-weight: 500 !important;
	    cursor: pointer;
	}
    }
    .button-row {
        margin-top: 10px;
        border-top: 2px dashed #bfbfbf;
        padding-top: 10px;
        text-align: center;

        button {
            font-size: 13px;
        }
        .btn-decline {
            background: none;
            background-color: #ffffff;
            border: none;
            color: $button-color;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}

.badge-image {
    text-align: center;
    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding: 4px;
        max-height: 200px;
    }
}

.badge-image-embed-pic {
    text-align: center;
    height:320px;
    width:90%;
    img {
        display: inline-block;
        max-width: 90%;
        height: 320px;
        padding: 4px;
    }
}

.ajax-message {
    i.fa {
        font-size: 20px;
    }
    span {
        padding-left: 5px;
    }
}

.modal-left {
    text-align: center;
}

.select-rating {
    width: 60px;
}

.delete-buttons {
    margin-top: 20px;
}
/* BADGE SETTINGS */
#badge-settings {
    .settings-content {
        label {
            margin-left: 5px;
            font-weight: normal;
            margin-right: 20px;
        }
    }
}
#badge-settings  {
    h1.uppercase-header {
        font-size: 16px;
        font-weight: 400;
        color: $grid-link;
        text-transform: none;
        font-family: 'Open Sans';
    }
    .settings-content .sub-heading, label.sub-heading, legend.sub-heading {
        font-weight: 600;
        color: $text-color;
        font-size: 15px;
        padding-top:10px;
        padding-bottom: 5px;
        margin-left:0px;
        width: 100%;
    }
    .delete-button {
        cursor: pointer;
        color: $dark-red;
        i {
            margin-right: 5px;
            font-size: 18px;
        }
    }
    .settings-content .modal-footer{
        margin-left:0px;
        padding-left: 0px;
        padding-top:15px;
        > button.btn-primary {
            margin-right: 20px;
        }
    }
    #assertion-info {
        margin:5px;
    }
    .delete-confirm {
        padding-top:20px;
        .alert-warning {
            display: inline-block;
        }
    }
    .form-group {
        margin-bottom: 5px;
    }
    .form-group.visibility {
        margin-bottom: 0px;
        input {
            opacity: 0;
            position: absolute;
            width: 35px;
        }
        div.col-md-12 {
            i {
                font-size: 18px;
                color:$icon-color;
                width: 35px;
                text-align: center;
            }
            label, i, input {
                cursor: pointer
            }

            &.public .fa-globe, &.internal .fa-group, &.private .fa-lock{
                color:$link-color;
            }
        }
    }
    label {
        margin-bottom: 0px;
    }
    .revoked, .expired {
        color:$dark-red;
        font-size: 18px;
        line-height: 100px;
        font-weight: 600;
    }
  .success {
    color:$green;
    font-size: 18px;
    line-height: 100px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
/* BADGE STATS */
#badge-stats {
    h3 {
        font-weight: 300;
        padding-bottom: 10px;
        font: 400 20px "Open Sans",sans-serif;
    }

    .panel {
        border:none;
        border-radius: 4px;
        img.badge-icon {
            width: 30px;
        }
	img.user-icon {
            width: 25px;
        }
        .panel-heading {
            border-bottom: 1px solid #dddddd;
            h3 {
                line-height: 30px;
                font: 300 24px "Open Sans Condensed",sans-serif;
                text-transform: uppercase;
                text-decoration: none;
                color: $title-color;
                margin: 0px;
                padding:0px;
            }
            a {
                color: $text-color;
                font-weight: 300;
                &:hover {
                    text-decoration: none;
                    color:$menu-active;
                }
                &:active, &:focus{
                    text-decoration: none;
                }
            }
        }
        .panel-body {
            padding-top: 5px;
            table {
                td, th {
                    border-bottom: 0px;
                    border-top: 0px;
                    text-align: center;
                    vertical-align: middle;
                }
		td.icon {
		    width:10%;
		}
		td.action{
		    width:20%;
		}
                td.name {
		    width: 70%;
                    text-align: left;
                }
                th:nth-child(2) {
                    text-align: left;
                }
            }
            .issuer-badges-wrapper {
                padding: 5px 15px 15px 15px;
                border-bottom: 1px solid #f0f0f0;
                .issuer-badges {
                    a {
                        padding-right: 15px;
                    }
                }
            }
            label {
                display: none;
            }
            .row.header {
                font-weight: 600;
                text-align: center;
            }
            .row.body {
                text-align: center;
                .col-md-5 {
                    text-align: left;
                }
                .col-md-12 {
                    padding-bottom: 10px;
                }
            }
            @media (max-width:992px){
                .row.body{
                    text-align: left;
                    padding:10px 0px;
                    label {
                        display: inline-block;
                        width:68%;
                        font-weight: 600;
                    }
                    .col-md-1, .col-md-5 {
                        display: inline-block;
                        width: auto;
                        margin-bottom:10px;

                    }
                }
                .row.header {
                    display: none;
                }
            }

        }
    }
}
/* BADGE INFO */
#badge-info {
    a {
        color: $link-color;
    }
    font-size: 13px;
    h2.uppercase-header {
        padding: 5px 0 0 0;
    }
    .expired, .revoked {
        color: $dark-red;
        font-weight: bold;
        font-size: 20px;
    }
    .success {
    color:#3D9970;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
    .revoked {
        text-transform: uppercase;
    }
    .badge-info {
        label {
            color: $green;
            margin-bottom: 5px;
        }
        @media (max-width:992px){
            padding:0px;
        }
    }

    .description {
        font-weight: bold;
        margin: 20px 0 5px 0;
    }
    .congratulated-header > i {
        color: $grid-link-hover;
    }
    .panel {
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        .panel-body {
            padding-top:0px;
            @media (max-width:992px){

            }
        }
    }
    #badge-share-inputs .col-sm-3.text-right {
        float:right;
    }

    #reportform {
        border: 1px solid #f0f0f0;
    }
    div#reportform {
           > div:not(.form-group) {
                border-left: 3px solid $green;
                font-size: 15px;
                padding:10px 20px;
                font-weight: 600;
                background-color: #FFFFFF;
            }
    }
}
#badge-info, #badge-content {
    .badge-info label{
        color: $text-color;
        min-width: 100px;
    }
    .checkbox {
        margin-right: 15px;
        margin-bottom:0px;
        i {
            font-size: 20px;
            margin-right: 8px;
        }
        &.public i:before {
            content:'\f0ac';
        }
        &.internal i:before {
            content:'\f0c0';
        }
        &.private i:before {
            content:'\f023';
        }
    }
    .publishshare {
        opacity: 0;
        position: absolute;
    }
    .fa-share-alt {
        font-size: 20px;
        margin-right: 5px;
        color: $orange-color;
        &:hover {
            color:$orange-hover;
        }
    }
    #badge-share-inputs {
        padding-bottom: 20px;
        .linkinput, .form-horizontal{
            margin-left: -150px;
            margin-right: -220px;
        }
        @media (max-width:992px){
            .pull-right.text-right {
                float:none !important;
            }
            .linkinput, .form-horizontal{
                margin:0px;
            }
        }
    }
    .expiresin {
        i {
            font-size: 18px;
            color: $icon-color;
            margin-right: 5px;
        }
    }
    .rating {
       padding-top:10px;
    }
    .share-wrapper {
        margin-right: 340px;
        margin-left:150px;
        @media (max-width:992px){
            margin:0px;
            width: 100%;
        }
    }
    .issuer-data .issuer-links{
        margin-left: 0px;
    }
}
#share #share-buttons {
    i {
        cursor: pointer;
        font-size: 22px;
        margin-right: 6px;
        &.fa-twitter-square{
            color: #1b95e0;
        }
        &.fa-linkedin-square {
            color: #0077b5;
        }
        &.fa-facebook-square {
            color: #3b5998;
        }
        &.fa-pinterest-square {
            color: #bd081c;
        }
        &.fa-google-plus-square {
            color:#db4437;
        }
    }
}

#assertion-info {
    width: 100%;
    th {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #f59f48;
        border-bottom: 3px solid #ccc;
    }
    td:first-child {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }
}



.issued-on {
    label {
        margin-right: 5px;
    }
}

.issuer-data {

    margin-bottom: 3px;
    .issuer-links{
        margin-left: 5px;
    }
}

.issuer-image {
            img {
                width: 50px;
                height: 50px;
                padding: 3px;
                border-radius: 4px;
                margin-right: 10px;
                margin-left: 0px;
                margin-bottom: 10px;

            }
        }

.issuer-description{
          font-size: 13px;
          margin-left: 20px;
          margin-right: 5px;
          margin-bottom: 20px;
}

/* BADGE GRID */
#badge-gallery, #my-badges, #export-badges, .import-badges, #user-badges {
    #grid .grid-container {
        background-color: #ffffff;
        border: 1px solid #d2d2d2;
        box-shadow: 0px 4px 0px #dcdcdc;
        -webkit-box-shadow: 0px 4px 0px #dcdcdc;
        margin-bottom: 20px;
        margin-top:0px;
        line-height: 1.4;
        padding:10px;
        height: 270px;
        max-width: 200px;
        min-width: 200px;
        float: left;
        margin-right: 20px;
    .media-content {
        text-align: center;
        height: auto;
        .icons {
            text-align: left;
        }
        .visibility-icon {
            font-size: 20px;
            width:30px;
            text-align: left;
            line-height: 1em;
            color: $icon-color;
        }
        .media-body{
            .media-description, .badge-description, .media-expires  {
                display: none;
            }
            .media-recipients {
                padding-top:5px;
                color: $title-color;
                font-size: 12px;
                font-weight: bold;
                margin-top: 3px;
                line-height: 12px;
            }
            .media-heading{
                margin:15px 0px 5px 0px;
                color: $badge-title;
                font-size: 16px;
                line-height: 1.2em;
                height: 2.4em;
		overflow: hidden;
                a {
                    cursor: pointer;
                    font-size: 16px;
                    color: $badge-title;
                    &:hover {
                    color:$badge-title-hover;
                    }
                }
            }
            .media-issuer {
                padding-top:3px;
                line-height: 1.2em;
                height: 2.8em;
                overflow-y: hidden;
                font-size: 12px;
                    a {
                        color:$text-color;
                        font-size: 13px;
                    }
            }
        }
        .media-left {
            float:none;
            display: block;
            padding:0px;
            min-height: 130px;
            min-width: 130px;
            img {
                height:130px;
                width: 130px;
                margin-top:0px;
            }
        }
    }
    .media-bottom{
        border-top:none;
        a.bottom-link, a.badge-download {
            color:$title-color;
            font-size: 20px;
            i.fa {
                color:$title-color;
                padding-right: 0px;
            }
            &:hover {
                color:$icon-color;
                i.fa {
                    color:$icon-color;
                }
            }
        }
        .checkbox {
            color: $grid-link;
            font-size: 14px;
            margin: 0;
            input{
		top: 2px;
                margin:0px;
                position: relative;
                margin-bottom:5px;
		margin-right: 3px;

            }
            label {
                padding-left:0px;
                span {
                    padding-left:8px;
                    display: inline-block;
                    vertical-align: bottom;
                    line-height: 25px;
                }
            }
        }
        .badge-download:hover {
            color: $menu-active;
        }
    }
    #add-element-link {
        color: $orange-color;
        font-weight: bold;
    }
    .media-content.media-expired,  .media-content.media-revoked, &.error .media-content, &.duplicate .media-content {
        opacity: 1;
        .media-left {
            opacity: 0.3;
        }
        .media-body {
            .media-expires{
               color: #757575;
            }
            .media-description, .media-heading a, .media-heading, .badge-description, .media-issuer a {
                color:#757575;
                font-weight: normal;
            }
        }
        .visibility-icon, .lefticon {
            color:$dark-red;
            font-size: 14px;
            text-transform: uppercase;
            i {
                font-size: 20px;
                margin-right: 8px;
                vertical-align:middle;
                display: inline-block;
                color:$dark-red;
            }
        }
        .icons {
            text-align: left;
            .visibility-icon {
                text-align:right;
                float:right;
                i {
                    margin-right:0px;
                }
            }
        }
        .lefticon {
            display: inline-block;
        }
        .righticon {
            float: right;
            font-size: 18px;
            line-height: 1em;
            color: $dark-red;
            cursor: pointer;
        }
        &~.media-bottom{
            line-height: 1em;
            padding-top:8px;
            div:before{
                font-size: 20px;
                padding-right: 7px;
                display: block;
                float: left;
                padding-top: 3px;
                line-height: 18px;
            }
            a.bottom-link {
                color:#757575;
                &:hover {
                    color:$text-color;
                }
                i.fa {
                    color:$dark-red;
                }
            }
            .expired {
                i.fa {
                    color:$dark-red;
                }
            }
        }
    }
    &.expired .media-content{
        &~.media-bottom{
            line-height: 30px;
        }
    }
    }
}
/* MY BADGES */
#my-badges #grid .grid-container .media-content .visibility-icon i {
    color: $text-color;
    cursor: pointer;
    &:hover {
        color:$icon-color;
    }
}
/* IMPORT BADGES */
.import-badges #grid.row .grid-container{
    height:280px;
    .media-bottom {
        border-top: 2px dashed #bfbfbf;
        margin-top: 5px;
        padding-top:5px;
    }
    &.error{
        .media-bottom {
            color: $dark-red;
            font-size: 12px;
            line-height: 1em;
            text-transform: uppercase;
            div:before{
                font-family: FontAwesome;
                content: "\f071";
                font-size: 20px;
                padding-right: 7px;
                display: block;
                float: left;
                padding-top: 3px;
                margin-bottom: 9px;
            }
        }
    }
    &.duplicate{
        .media-bottom {
            color: #757575;
            font-size: 12px;
            line-height: 1em;
            text-transform: uppercase;
            div:before {
                content: '\f0c5';
                font-family: FontAwesome;
                font-size: 20px;
                padding-right: 7px;
                display: inline-block;
                padding-top: 3px;
                vertical-align: bottom;
            }
        }
    }
}

#export-badges{
    #grid .grid-container {
        height: 285px;
    }
}

/*Endorsements*/

#endorsement-info {
    width: 100%;
    th {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #f59f48;
        border-bottom: 3px solid #ccc;
    }
    td:first-child {
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
    }

}

.endorser-body {
  margin-top: 10px;
  margin-right: auto;
  .name {color: $link-color}
  h4{
        font-family: 'Open Sans Condensed',sans-serif;
        font-size: 50px;
        padding-bottom: 0px;
  }

}

.endorsement-content-item{

    position: relative;
    padding-bottom: 10px;
    padding-left:2px;
    margin-left: 25px;
    margin-top: 10px;
    border-bottom: 1px solid #dddddd;

    .commentbox { max-width: 680px; }

    .endcontent { display:flex; align-items:center;}

    i {

          vertical-align: bottom;
          font-weight: normal;
          color: $orange-hover;
          padding: 5px;
          border-radius: 4px;
          margin-top: 10px;
          margin-right: 10px;
          margin-left: 0px;
    }

    h4 { font-size: 14px; }

    font-size: 14px;

    &:not(.tips):last-child{
      border-bottom: none;
    }

    .namedate{
        display:flex;

      .name{
        flex:0 0 700px;
        display:inline-flex;
      }

      .date{
        span{
          font-weight:bold;
        }
      }
    }
 }


.endorsement-link{
  padding-left:5px;

    &:before{
        content: "\f2b5";
        font-family: "FontAwesome";
      color:$orange-hover !important;
        font-size: 22px;
        text-align: center;
        margin-right: 5px;
        padding-right: 3px;
        vertical-align: bottom;
        font-weight: normal;
    }
}

.endorsementhr{
  margin-top:5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.endorser-info{
  display: flex;
  }
.endorser-header {

    h1 {
      margin-left: 10px;
    }
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


#verify-badge {
  .alert-danger {
    color:$dark-red;
    background-color: #f2dede;
    border-color:#ebccd1;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top:10px;
    margin-right: 10px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  }
  .alert-success {
    color: #3c763d;
    border-color: #d6e9c6;
    font-weight: bold;
    margin-top:10px;
  }

  .fa-check-circle{
    color: #3D9970;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .validation-result{
    font-weight: bold;
    font-size:13px;
    padding-bottom:5px;
    padding-right: 10px;
  }

  .validation-header{
    margin-right:10px;
    margin-bottom:20px;
    border-bottom: 1px solid #ccc
  }


  hr{
    border-color: #ccc;
    width: 50%;
  }
  #assertion-info {
    thead tr th:first-child {
      width:125px;
    }
    th {
      border-bottom: 1px solid #ccc;
    }
    td:first-child {
      font-size: 13px;
      text-transform: capitalize;
    }
    td {
      word-wrap:break-word;
    }
  }
  .panel {
    padding-top: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05)
  }
  .close-button {
    padding-top: 0px;
    padding-bottom :15px;
  }
  .close {
    font-size: 30px;
  }
  table {
    table-layout:fixed;
    width: 100%;
  }
}
.modal-content #verify-badge {
  button.close span  {
    font-size: 30px;
  }
  .panel {
    border-color: #ccc;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05)
  }
}

#badge-export-modal {
  .modal-footer .btn {
      margin-bottom: 5px;
  }
}
