@import 'variables';

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
a {
    color:#f59f48;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: $grid-link-hover;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans';
    height: 100%;
    line-height: 24px;
    background-color: $background;
    color: $main-color;
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
/* BUTTON */
.btn {
    margin-right: 3px;
    background: none;
    background-color: #aea1aa;
    color: #ffffff;
    font-family: 'Open Sans';
    box-shadow: 0px 2px #969696;
    border-radius: 4px;
    border: 1px solid #aca3a8;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    &:active, &:focus, &:active:focus {
        color: #FFF;
        text-decoration: none;
        outline: none;
    }
}
button {
    &:focus {
        outline: none;
    }
}

.btn-active, .btn:hover {
    color: #ffffff;
    background-color: #463c44;
    border-color: #443f43;
    box-shadow: 0px 2px #030102;
}

.btn-primary {
    background-color: #587ab3;
    border-color: #45649f;
    box-shadow: 0px 2px #d8d8d8;
    &:hover {
        background-color: #3e5c97;
        border-color: #424a7d;
        box-shadow: 0px 2px #d8d8d8;
    }
}
.btn-primary[disabled]{
    background-color: #587ab3;
    &:hover, &:active, &:focus{
        background-color: #587ab3;
    }
}

.btn-warning {
    background-color: #ea8241;
    border-color: #d08a4f;
    box-shadow: 0px 2px #d8d8d8;
    &:hover {
        background-color: #df6519;
        border-color: #d08a4f;
        box-shadow: 0px 2px #d8d8d8;
    }
}

.btn-success {
    background-color: #9dbe5f;
    border-color: #83a04b;
    box-shadow: 0px 2px #d8d8d8;
    &:hover {
        background-color: #83a04b;
        border-color: #83a04b;
        box-shadow: 0px 2px #d8d8d8;
    }
    &:focus {
        background-color: #9dbe5f;
        border-color: #83a04b;
    }
}

.buttons .btn {
    font-weight: bold;
    border-radius: 2px;
}

/* FORM */
.form-control {
    border-radius: 3px;
    &:focus {
        border-color: #bdbdc0;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    }
}
select.form-control  {
    -webkit-appearance:none;
    background: #FFF url(/img/down_arrow.png) no-repeat top right;
}

input[type=checkbox], input[type=radio] {
    margin-top:6px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-left:15px;
}

header#navbar {
    background: url(/img/header_pic.png) no-repeat #ffffff;
    background-position: top center;
    padding: 0px 30px;
    box-shadow: -1px 7px 5px -3px #cecccd;
}

nav.navbar {
    margin-bottom: 0;
    border: none;
}

.navbar-header {
    padding: 10px 0;
}

button.navbar-toggle {
    border: 1px solid $grid-link-hover;
    margin: 8px 0;
    .icon-bar {
        background-color: $grid-link-hover;
    }
    &:hover {
        border-color: $grey-link;
        .icon-bar {
            background-color: $grey-link;
        }
    }
}

%navi-link {
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    color: $grey-link;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}

ul#secondary-menu-links {
    float: left;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-left: 2px solid #aea1aa;
    li {
        a {
            display: inline-block;
            padding: 5px 25px;
            line-height: 18px;
            color: #7d7077;
            text-decoration: none;
            i.fa {
                color: #89a338;
                padding-right: 10px;
            }
        }
    }
}

.userpic {
    float: right;
    padding-top: 9px;
    img {
        height: 54px;
        border: 1px solid #aea1aa;
        border-radius: 3px;
    }
}

ul.navbar-nav {
    margin-top: 15px;
    padding-left: 40px;
    li {
        a {
            @extend %navi-link;
            color: $grey-link;
            padding: 10px 20px;
            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }
    li.active {
        a {
            color: $dark-grey-link;
        }
    }
}

.logo-main {
    @media (max-width: 1100px) and (min-width: 768px) {
        display: none;
    }
    @media (max-width: 480px) {
        padding-top: 10px;
        width: 200px;
    }
}

.logo-icon {
    display: none;
    @media (max-width: 1100px) and (min-width: 768px) {
        display: inline;
    }
}

#print-logo {
    display: none;
}

#print-qr-code {
    display: none;
}

#login-button {
    margin-top: 5px;
}

.title-row {
    background-color: #666666;
    border-bottom: 5px solid #d7e8a2;
    color: #ffffff;
    @include inner-shadow(0px, 7px, 7px, -4px, 0.2);
    h2 {
        font-size: 25px;
        margin: 14px 0;
    }
}

ul.side-links {
    list-style-type: none;
    padding: 0;
    li {
        a {
            @extend %navi-link;
            color: $green-link;
        }
    }
    li.active {
        a {
            color: $light-green-link;
        }
    }
}

.main-container {
    margin-top: 15px;
    margin-bottom: 30px;
}

#content {
    .uppercase-header {
        line-height: 30px;
        font: 300 28px "Open Sans Condensed",sans-serif;
        text-transform: uppercase;
        color: #7f7179;
        font-size: 40px;
        padding-bottom: 15px;
        margin: 0px;
    }

    h2.uppercase-header {
        font-size: 30px;
    }
}

#grid-filter {
    padding-right: 15px;
    label {
        text-align: left;
    }
    button {
        margin: 0 3px 6px 0;
        padding: 6px 12px;
        background: none;
        background-color: #aea1aa;
        border: 1px solid #aca3a8;
        color: #ffffff;
        box-shadow: 0px 2px #969696;
        -webkit-box-shadow: 0px 2px 0px #969696;
        &:focus {
            outline: none;
        }
    }
    button.btn-active {
        background-color: #463c44;
        border-color: #443f43;
        box-shadow: 0px 2px #030102;
        -webkit-box-shadow: 0px 2px 0px #030102;
    }
}

#grid {
    margin:0px;
    margin-top: 15px;
    #add-element {
        text-align: center;
        position: relative;

        #add-element-icon {
            font-size: 70px;
            color: #b1a1ab;
        }
        a#add-element-link {
            color: $grid-link;
            text-decoration: none;
            &:hover {
                color: $grid-link-hover;
            }
        }
    }
    .grid-container {
        background-color: #ffffff;
        border: 1px solid #d2d2d2;
        box-shadow: 0px 4px 0px #dcdcdc;
        -webkit-box-shadow: 0px 4px 0px #dcdcdc;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 1.4;
        height: 170px;
        max-width: 280px;
        min-width: 250px;

        .media-content {
            height: 115px;
            .media-left {
                img {
                    margin-top: 10px;
		    height: 90px;
                }
            }

            .media-body {
                position: relative;
                .visibility-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #b1a1ab;
                    font-size: 25px;
                }
                .media-heading {
                    word-wrap: break-word;
                    line-height: 1.1em;
                    height: 2.3em;
                    margin-top: 10px;
                    margin-right: 35px;
                    overflow-y: hidden;
                    margin-bottom: 0px;

                    a.heading-link {
                        cursor: pointer;
                        color: $grid-link;
                        text-decoration: none;
                        &:hover {
                            color: $grid-link-hover;
                        }
                    }
                }
		.media-issuer {
                    line-height: 1.1em;
                    height: 2.2em;
		    overflow-y: hidden;
                    font-size: 12px;
                    a {
                        color: #89a338;
                    }
                }
                .media-expires {
                    margin-top: 3px;
                    color: #83a04b;
                    font-size: 12px;
                }
                .media-expires ~ .media-description {
                    margin-top:0px;
                }
                .media-description, .badge-description {
                    word-wrap: break-word;
                    color: #929292;
                    font-size: 12px;
                    line-height: 1.2em;
                    height: 4.8em;
                    margin-top: 3px;
                    font-family: Arial;
                    &.import {
                        height: 3.6em;
                    }
                }
            }
            &.media-expired .media-expires {
                color: #8c2e0b;
            }
        }
        .media-bottom {
            margin-top: 5px;
            border-top: 2px dashed #bfbfbf;
            padding-top: 5px;
            color: #766d72;
            font-size: 12px;
            min-height: 35px;
            text-transform: uppercase;
            line-height: 1;
            i.fa {
                font-size: 20px;
                padding-right: 7px;
                padding-top:3px;
            }
            a.bottom-link {
                color: #766d72;
                cursor: pointer;
                i.fa {
                    color: #b1a1ab;
                    padding-right:10px;
                }
                span {
                    vertical-align: top;
                    display: inline-block;
                    line-height: 25px;
                }
            }
            .checkbox {
                margin: 0;
            }
            .expired {
                text-transform: uppercase;
                color: #8c2e0b;
                span {
                    vertical-align: top;
                    line-height: 25px;
                }
                .fa {
                    padding-top:3px;
                }
            }
            label span {
                line-height: 25px;
            }
        }
        .media-expired {
            opacity: 0.5;
        }
        &.duplicate,  {
            .media-content {
                opacity: 0.5;
            }
            .media-bottom {
                line-height: 11px;
                padding-top:8px;
                color:#b1a1ab;
                div:before{
                    content: '\f0c5';
                    font-family: FontAwesome;
                    font-size: 20px;
                    padding-right: 7px;
                    display: inline-block;
                    padding-top:3px;
                    vertical-align: bottom;
                }
            }
        }
        &.expired {
            .media-content {
                opacity: 0.5;
            }
            .media-bottom {
                line-height: 11px;
                padding-top:8px;
                color: #8c2e0b;
                div:before{
                    font-family: FontAwesome;
                    content: "\f1da";
                    font-size: 20px;
                    padding-right: 7px;
                    display: inline-block;
                    padding-top:3px;
                    vertical-align: bottom;
                }
            }
        }
        &.error {
            a.msg.collapsed {
                display: none;
            }
            .media-content {
                opacity: 0.5;
            }
            .media-bottom{
                color: #8c2e0b;
                div:before{
                    font-family: FontAwesome;
                    content: "\f071";
                    font-size: 20px;
                    padding-right: 7px;
                    display: block;
                    float:left;
                    padding-top:3px;
                    margin-bottom: 9px;
                }
            }
        }
    }
    @media (min-width: 992px){
        .col-md-4 {
            width: auto;
            padding-left: 0px;
            padding-right:20px;
        }
    }
    @media (max-width: 767px) and (min-width:550px){
        .col-md-4 {
            width: 50%;
            padding-left: 0px;
            padding-right:20px;
        }
    }
}

.media-left img {
    width: 90px;
}

.tag-labels {
    .label {
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 12px;
        padding:0px 0.4em;
        line-height: 25px;
        padding-bottom:1px;
        vertical-align: middle;
        background-color: #f5f5f5;
        color: #555555;
        border: 1px solid #bbbbbb;
        display: inline-block;
        a.remove-tag {
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            margin-left: 5px;
            color: #bbbbbb;
            line-height: 25px;
            vertical-align: middle;
            &:hover {
                color: #888888;
            }
        }
    }
}

.form-bar {
    padding-right: 5px;
    border-right: 3px solid transparent;
}

.form-bar-success {
    border-color: #5cb85c;
}

.form-bar-error {
    border-color: #d9534f;
}

ol.welcome-text li {
    padding-top: 10px;
}


/* custom rateit jquery-plugin styles */
.rateit .rateit-selected {
    background-position: left -32px;
}

/* share buttons */
#share {
    #share-buttons {
        //padding: 10px 15px 5px 15px;
        .share-button {
            margin-right: 3px;
            vertical-align: top;
            display: inline-block;
            line-height: 1;
            .fb-share {
                margin-top: -2px;
            }
            #tweet-button {
                width:60px !important;
            }
        }
        .share-link {
            vertical-align: top;
            display: inline-block;
            margin-left: 10px;
            a {
                color: #7f7179;
                font-weight: bold;
                font-size: 12px;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    #share-buttons.share-disabled {
        background-color: #ececec;
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
    #share-buttons ~ div {
        margin-top:10px;
        .form-group{
            label {
                margin-bottom: 0px;
                line-height: 34px;
            }
        }
    }
    margin-top: 10px;
    margin-bottom: 20px;
}

#page-edit {
    margin-top: 25px;
    .form-group {
        margin-bottom: 0px;
    }
    .field {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        box-shadow: 0px 4px 0px #ececec;
        margin-bottom: 15px;
        .field-move {
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 100%;
            .move-arrows {
                position: relative;
                height: 100%;
                .move-up, .move-down {
                    position: absolute;
                    text-align: center;
                    color: #f59f48;
                    cursor: pointer;
                }
                .move-up {
                    top: 0;
                    padding: 0 5px 10px 5px;
                }
                .move-down {
                    bottom: 0;
                    padding: 10px 5px 0 5px;
                }
            }
        }
        .field-content {
            border-left: 1px solid #cccccc;
            margin-left: 25px;
            padding: 20px 25px;
            padding-bottom: 5px;
            .field-remove {
                text-align: right;
                span.remove-button {
                    display: inline-block;
                    padding: 6px 8px;
                    background-color: #ea8241;
                    font-size: 16px;
                    font-weight: bold;
                    color: #ffffff;
                    cursor: pointer;
                    line-height: 1;
                    &:hover {
                        background-color: #df6519;
                    }
                }
            }
            .form-group:last-of-type {
                margin-bottom: 0;
            }
            .form-control {
                margin-bottom: 10px;
            }
            .badge-image {
                padding-right: 40px;
                text-align: right;
                img {
                    width: 70px;
                }
            }
        }
    }
}

.add-field-after {
    margin-bottom: 15px;
    text-align: center;
    .btn-success:before{
        content:'\f067';
        font-family: FontAwesome;
        font-size: 15px;
        padding-right: 10px;
    }
}
.modal-content {
    border-radius: 0px;
    border: 1px solid #bdbdc0;
    box-shadow: 0px 3px 6px #000;
    font-size: 13px;
    .modal-body > .row{
        margin:0px 30px;
        &:first-child{
            margin-right: 0px;
            .col-md-12 {
                padding-right:0px;
                button.close span {
                    font-size: 40px;
                    line-height: 24px;
                }
            }
        }
    }
    #badge-contents {
        margin:0px 45px;
    }
    .modal-header {
        border-bottom:none;
        padding-bottom: 0px;
        button span {
            font-size: 40px;
            line-height: 24px;
        }
    }
    .modal-footer {
        border-top:none;
        padding-top:0px;
        text-align: left;
        margin-left:40px;
        @media (min-width: 992px){
            margin-left:27%;
        }
    }
}
#my-files .modal-content {
    .modal-footer{
        margin-left: 0px;
    }
    .modal-body {
        padding-top:0px;
    }
}
.panel img {
    //max-width: 100%;
}
.alert-warning, .alert-danger{
    color:#8c2e0b;
    font-weight: bold;
    background: transparent;
    border:none;
    border-left:3px solid #8c2e0b;
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    padding:10px;
    margin-bottom:10px;
}

footer.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    clear:both;
    a {
	color: #7f7179;
    }
    .footer-container {
	text-align: center;
	border-top: 1px solid #dbdbdb;
	padding-top: 12px;
	font-size: 11px;
	font-weight: bold;
    }
}
.text-muted {
    color: #777;
}
body.anon {
    background: #f9f9f9 url("/img/bg_subpage.png") no-repeat scroll center 70px;
    #badge-info, #badge-gallery-view{
        .panel {
            background-color: #FFF;
            border:1px solid #CCC;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            border-radius: 0px;
            .panel-body {
                padding:20px;
            }
        }
    }
   
    .navbar-toggle {
        //display: none;
    }
    .navbar-collapse {
      //  display: inline-block;
       /* float:right;*/
        .navbar-nav {
           /* margin:0px;*/
            padding-top:0px;
        }
    }
    .navbar-header {
	// float:left;
        //clear: none;
    }
    @media (max-width:550px){
        .container-fluid{
            padding:0px;
        }
        header#navbar {
            padding:0px 10px 0px 25px;
        }
    }
    @media (max-width:360px){
        .logo-main {
            display: none;
        }
        .logo-icon {
            display: block;
        }
    }
}

/*logos*/

.logo-image-icon {
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
}

.logo-image {
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
}
.logo-image-url{
    width: 200px;
    height: 48px;
    background-image: url("/img/logo.png");
}


.logo-image-icon-url {
    width: 48px;
    height: 48px;
    background-image: url("/img/logo_icon.png");
}


/*Columns*/

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
