$background: #f9f9f9;
$main-color: #7f7179;

$grey-link: #afa2a9;
$dark-grey-link: #7b7076;
$green-link: #89a338;
$light-green-link: #A5C24C;

$grid-link: #2a6496;
$grid-link-hover: #2a6496;

@mixin inner-shadow($h-shadow, $v-shadow, $blur, $spread, $opacity) {
    -webkit-box-shadow: inset $h-shadow $v-shadow $blur $spread rgba(0,0,0,$opacity);
    -moz-box-shadow: inset $h-shadow $v-shadow $blur $spread rgba(0,0,0,$opacity);
    box-shadow: inset $h-shadow $v-shadow $blur $spread rgba(0,0,0,$opacity);
}

body {
    font-family: 'Open Sans';
    height: 100%;
    line-height: 24px;
    background-color: $background;
    color: $main-color;
}

.btn {
    margin-right: 3px;
    background: none;
    background-color: #aea1aa;
    color: #ffffff;
    font-family: 'Open Sans';
    box-shadow: 0px 2px #969696;
    border-radius: 4px;
    border: 1px solid #aca3a8;
    font-size: 13px;
    font-weight: normal;
    &:focus {
        outline: none;

    }
}

.btn-active, .btn:hover {
    color: #ffffff;
    background-color: #463c44;
    border-color: #443f43;
    box-shadow: 0px 2px #030102;
}

.btn-primary {
    background-color: #587ab3;
    border-color: #45649f;
    box-shadow: 0px 2px #d8d8d8;
    &:hover {
        background-color: #3e5c97;
        border-color: #424a7d;
        box-shadow: 0px 2px #d8d8d8;
    }
}

.btn-warning {
    background-color: #ea8241;
    border-color: #d08a4f;
    box-shadow: 0px 2px #d8d8d8;
    &:hover {
        background-color: #df6519;
        border-color: #d08a4f;
        box-shadow: 0px 2px #d8d8d8;
    }
}

.btn-success {
    background-color: #9dbe5f;
    border-color: #83a04b;
    box-shadow: 0px 2px #d8d8d8;
    &:hover {
        background-color: #83a04b;
        border-color: #83a04b;
        box-shadow: 0px 2px #d8d8d8;
    }
    &:focus {
        background-color: #9dbe5f;
        border-color: #83a04b;
    }
}

header#navbar {
    background: url(/img/header_pic.png) no-repeat #ffffff;
    background-position: top center;
    padding: 0px 30px;
}

nav.navbar {
    margin-bottom: 0;
    border: none;
}

.navbar-header {
    padding: 10px 0;
}

button.navbar-toggle {
    border: 1px solid $green-link;
    margin: 8px 0;
    .icon-bar {
        background-color: $green-link;
    }
    &:hover {
        border-color: $grey-link;
        .icon-bar {
            background-color: $grey-link;
        }
    }
}

%navi-link {
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    color: $grey-link;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}

ul#secondary-menu-links {
    float: left;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-left: 2px solid #aea1aa;
    li {
        a {
            display: inline-block;
            padding: 5px 25px;
            line-height: 18px;
            color: #7d7077;
            text-decoration: none;
            i.fa {
                color: #89a338;
                padding-right: 10px;
            }
        }
    }
}

.userpic {
    float: right;
    padding-top: 9px;
    img {
        height: 54px;
        border: 1px solid #aea1aa;
        border-radius: 3px;
    }
}

ul.navbar-nav {
    margin-top: 15px;
    padding-left: 40px;
    li {
        a {
            @extend %navi-link;
            color: $grey-link;
            padding: 10px 20px;
            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }
    li.active {
        a {
            color: $dark-grey-link;
        }
    }
}

.logo-main {
    @media (max-width: 1100px) and (min-width: 768px) {
        display: none;
    }
    @media (max-width: 480px) {
        padding-top: 10px;
        width: 200px;
    }
}

.logo-icon {
    display: none;
    @media (max-width: 1100px) and (min-width: 768px) {
        display: inline;
    }
}

.title-row {
    background-color: #666666;
    border-bottom: 5px solid #d7e8a2;
    color: #ffffff;
    @include inner-shadow(0px, 7px, 7px, -4px, 0.2);
    h2 {
        font-size: 25px;
        margin: 14px 0;
    }
}

ul.side-links {
    list-style-type: none;
    padding: 0;
    li {
        a {
            @extend %navi-link;
            color: $green-link;
        }
    }
    li.active {
        a {
            color: $light-green-link;
        }
    }
}

.main-container {
    margin-top: 15px;
    margin-bottom: 30px;
}

#content {
    h2.uppercase-header {
        line-height: 30px;
        font: 300 28px "Open Sans Condensed",sans-serif;
        text-transform: uppercase;
        color: #7f7179;
        font-size: 40px;
        padding-bottom: 15px;
        margin-top: 0px;
    }
}

#grid-filter {
    label {
        text-align: left;
    }
    button {
        margin: 0 3px 6px 0;
        padding: 6px 12px;
        background: none;
        background-color: #aea1aa;
        border: 1px solid #aca3a8;
        color: #ffffff;
        box-shadow: 0px 2px #969696;
        -webkit-box-shadow: 0px 2px 0px #969696;
        &:focus {
            outline: none;
        }
    }
    button.btn-active {
        background-color: #463c44;
        border-color: #443f43;
        box-shadow: 0px 2px #030102;
        -webkit-box-shadow: 0px 2px 0px #030102;
    }
}

#grid {
    margin-top: 15px;

    #add-element {
        text-align: center;

        #add-element-icon {
            font-size: 70px;
            color: #b1a1ab;
        }
        a#add-element-link {
            color: $grid-link;
            text-decoration: none;
            &:hover {
                color: $grid-link-hover;
            }
        }
    }
    .grid-container {
        min-height: 185px;
        background-color: #ffffff;
        border: 1px solid #d2d2d2;
        box-shadow: 0px 4px 0px #dcdcdc;
        -webkit-box-shadow: 0px 4px 0px #dcdcdc;
        padding: 10px;
        margin-bottom: 20px;
        line-height: 1.4;

        .media-left {
            img {
                margin-top: 10px;
            }
        }

        .media-body {
            position: relative;
            .visibility-icon {
                position: absolute;
                top: 0;
                right: 0;
                color: #b1a1ab;
                font-size: 25px;
            }
            .media-heading {
                height: 35px;
                margin-top: 10px;
                margin-right: 35px;
                overflow-y: hidden;

                a.heading-link {
                    color: $grid-link;
                    text-decoration: none;
                    &:hover {
                        color: $grid-link-hover;
                    }
                }
            }
            .media-description {
                font-size: 12px;
                text-overflow: ellipsis;
                height: 75px;
            }
        }

        .media-bottom {
            margin-top: 5px;
            border-top: 2px dashed #bfbfbf;
            padding-top: 5px;
            color: #766d72;
            font-size: 12px;
            min-height: 35px;
            a.bottom-link {
                color: #766d72;
                text-transform: uppercase;
                cursor: pointer;
                i.fa {
                    font-size: 20px;
                    color: #b1a1ab;
                    padding-right: 5px;
                }
                span {
                    vertical-align: top;
                    display: inline-block;
                    padding-top: 3px;
                }
            }
            label {
                padding-left: 5px;
                font-weight: normal;
                margin-bottom: 0;
            }
        }
    }
}

.media-left img {
    width: 90px;
}

.tag-labels {
    margin-bottom: 3px;
    .label {
        margin-right: 3px;
        font-size: 12px;
        background-color: #f5f5f5;
        color: #555555;
        border: 1px solid #bbbbbb;
        a.remove-tag {
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            margin-left: 4px;
            color: #bbbbbb;
            &:hover {
                color: #888888;
            }
        }
    }
}
