#my-files {
    .grid-container {
        min-height: 80px;
    }
    .media-left {
        padding: 10px 15px 0 5px;
        text-align: center;
    }

    .file-icon-large {
        color: #b1a1ab;
        font-size: 56px;
    }

    #grid-file-upload {
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       cursor: pointer;
       font-size: 0;
       position: absolute;
       z-index: 1;
    }
}