.my-files {
    .grid-container {
        min-height: 80px;
    }
}

.media-left {
    padding: 10px 15px 0 5px;
    text-align: center;
}

.file-icon-large {
    color: #b1a1ab;
    font-size: 56px;
}