@import 'variables';

/*BADGE GALLERY*/
#badge-gallery {
    #grid.row .grid-container .media-bottom {
        float:right;
        margin-top:-20px;
        border-top: none;
        padding-top: 5px;
    }
}
#badge-gallery-view, #badge-content {
    .panel {
        background-color: transparent;
        box-shadow: none;
        a {
            color: $link-color;
        }
    }
    #badge-contents a {
         color: $link-color;
    }
    font-size: 13px;
    .description {
        font-weight: bold;
        margin: 20px 0 5px 0;
    }
    h2.uppercase-header {
        padding: 15px 0 0 0;
        font-size: 30px;
    }
}
/*PAGE GALLERY*/
#page-gallery, #user-pages #grid .grid-container {
    .page-owner {
        font-weight: bold;
        padding: 5px 0;}
    .media-right img {
        max-width: 55px;
        max-height: 55px;
        width: auto;
        height: auto;
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .modal-dialog {
        width: 80%;
        .modal-content {
            background-color: #F9F9F9;
        }
        .page-content {
            background-color: #FFF;
            max-width: 1170px;
            margin-right: auto;
            margin-left: auto;
            .panel {
               border: 1px solid #ddd;
               box-shadow: 0px 4px 0px #dcdcdc;
            }
            img {
                max-width: 100%;
            }
        }
    }
    .page-create-date {
        color: #9dbe5f;
        font-size: 12px;
    }
    .grid-container .media-content .media-body .media-heading {
        margin-right:0px;
    }
}
/*PROFILE GALLERY*/
#profile-gallery #grid {
    .media {
        height: auto;
        padding: 10px 15px;
        .media-content {
            height: 65px;
            .media-heading {
                font-weight: bold;
                margin-right:0px;
                margin-top:10px;
            }
            .media-left {
                img {
                    max-width: 55px;
                    max-height: 55px;
                    width: auto;
                    height: auto;
                    padding: 3px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    margin-top:10px;
                }
            }
            .media-profile {
                font-size: 12px;
                .join-date {
                    color: $green;
                }
            }
        }
        .common-badges {
            margin-top: 5px;
            font-size: 12px;
        }
    }
}

