#badge-gallery {
    #grid {
        .grid-container {
            height: 200px;
            .media-content {
                height: 145px;
                .media-issuer {
                    font-size: 12px;
                }
                .media-recipients {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}

#page-gallery .page-owner {
    font-weight: bold;
    padding: 5px 0;
}

#page-gallery .media-right img {
    max-width: 55px;
    max-height: 55px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#profile-gallery {
    .media {
        height: auto;
        padding: 10px 15px;
        .media-content {
            height: auto;
            .media-heading {
                font-weight: bold;
            }
            .media-left {
                img {
                    max-width: 55px;
                    max-height: 55px;
                    padding: 3px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                }
            }
            .media-profile {
                font-size: 12px;
                .join-date {
                    color: #9dbe5f;
                }
            }
        }
        .common-badges {
            margin-top: 5px;
            font-size: 12px;
        }
    }
}