@import 'variables';

/*BADGE GALLERY*/
#badge-gallery {
    #grid.row .grid-container .media-bottom {
        float:right;
        margin-top:-20px;
        border-top: none;
        padding-top: 5px;
        cursor: pointer;
    }
}
#badge-gallery-view, #badge-content {
    .panel {
        background-color: transparent;
        box-shadow: none;
        a {
            color: $link-color;
        }
    }
    #badge-contents a {
         color: $link-color;
    }
    font-size: 13px;
    .description {
        font-weight: bold;
        margin: 20px 0 5px 0;
    }
    h2.uppercase-header {
        padding: 15px 0 0 0;
        font-size: 30px;
    }
}
#gallery-modal {
  .endorsement-link{
    padding-left:0px;
  }
}
/*PAGE GALLERY*/
#page-gallery, #user-pages #grid .grid-container {
    .page-owner {
        font-weight: 600;
        padding: 5px 0;}
    .media-right img {
        max-width: 55px;
        max-height: 55px;
        width: auto;
        height: auto;
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .modal-dialog {
        width: 80%;
        .modal-content {
            background-color: $background-color;
        }
        .page-content {
            background-color: #FFF;
            max-width: 1170px;
            margin-right: auto;
            margin-left: auto;
            .panel {
               border: 1px solid #ddd;
               box-shadow: 0px 4px 0px #dcdcdc;
            }
            img {
               // max-width: 100%;
            }
        }
    }
    .page-create-date {
        color: $green;
        font-size: 12px;
    }
    .grid-container .media-content .media-body .media-heading {
        margin-right:0px;
    }
}
/*PROFILE GALLERY*/
#profile-gallery #grid {
    .media.grid-container {
        height: auto;
        padding: 10px 15px;
        .media-content {
            height: 65px;
            .media-heading {
                font-weight:600;
                margin-right:0px;
                margin-top:10px;
            }
            .media-left {
                img {
                    max-width: 55px;
                    max-height: 55px;
                    width: auto;
                    height: auto;
                    padding: 3px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    margin-top:10px;
                }
            }
            .media-profile {
                font-size: 12px;
                .join-date {
                    color: $green;
                }
            }
        }
        .common-badges {
            margin-top: 5px;
            font-size: 12px;
            color: $text-color;
        }
    }
}


/* metosin autocomplete */

.autocomplete {
  position: relative;
}
.autocomplete__control {
  -webkit-appearance: none;
  background: #FFF url(/img/down_arrow.png) no-repeat top right;
  padding: 4px 8px;
  overflow: hidden;
  cursor: text;
}
.autocomplete__control:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #444 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;

}
.autocomplete__control--open:after {
  border-color: transparent transparent #444 transparent;
  border-width: 0 5px 5px 5px;
}
.autocomplete__control--disabled {
  border: 1px solid #454545;
  background: #f9f9f9;
  cursor: not-allowed;
  color: #545454;
}
.autocomplete__control--disabled:after {
  border-color: #ccc transparent transparent transparent;
}
.autocomplete__input {
  border: 0;
  outline: none;
  max-width: 100%;
}
.autocomplete__input[disabled] {
  background: none;
}
.autocomplete__dropdown {
  position: absolute;
  z-index: 1001;
  width: 100%;
  min-width: 250px;
  background: #fff;
  border: 1px solid #444;
  margin-top: -1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.autocomplete__dropdown--above {
  margin-top: 0px;
  margin-bottom: -1px;
}
.autocomplete__dropdown-content {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.autocomplete__item {
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.autocomplete__item:hover {
  color: #FFFFFF;
  background: $grid-link-hover; //hae oikea orange
}
.autocomplete__item--selected {
  // background: #CAECFF;
}
.autocomplete__item--active {
  // background: #CBFFCA;
}
.autocomplete__selected-items {
  display: inline-block;
}
.autocomplete__selected-item {
  color: #ffffff;
  background-color: #7d7178;
  border-color: #171517;
  box-shadow: 0px 2px #d8d8d8;
  display: inline-block;
  border-radius: 2px;
  //background: #7d7178;
  margin-right: 8px;
}
.autocomplete__item-text {
  padding: 2px 4px;
}
.autocomplete__no-results {
  padding: 4px 8px;
}
.autocomplete__level-1 {
  padding-left: 0px;
}
.autocomplete__level-2 {
  padding-left: 30px;
}
.autocomplete__level-3 {
  padding-left: 60px;
}
.autocomplete__level-4 {
  padding-left: 90px;
}
.autocomplete__level-5 {
  padding-left: 120px;
}
.autocomplete__level-6 {
  padding-left: 150px;
}
.autocomplete__level-7 {
  padding-left: 180px;
}
.autocomplete__level-8 {
  padding-left: 210px;
}
.autocomplete__level-9 {
  padding-left: 240px;
}
.autocomplete__level-10 {
  padding-left: 270px;
}
.autocomplete__level-11 {
  padding-left: 300px;
}
.autocomplete__level-12 {
  padding-left: 330px;
}
.autocomplete__level-13 {
  padding-left: 360px;
}
.autocomplete__level-14 {
  padding-left: 390px;
}
.autocomplete__level-15 {
  padding-left: 420px;
}
.autocomplete__level-16 {
  padding-left: 450px;
}
.autocomplete__level-17 {
  padding-left: 480px;
}
.autocomplete__level-18 {
  padding-left: 510px;
}
.autocomplete__level-19 {
  padding-left: 540px;
}
.autocomplete__level-19 {
  padding-left: 570px;
}
.autocomplete__remove-item-button {
  color: #ffffff !important;
  padding: 2px 4px;
  border-left: 1px solid #fff;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}
.autocomplete__remove-item-button:hover {
  background: #252123;
}
.autocomplete__clear-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 2px 4px;
  display: none;
}
.autocomplete__clear-button:after {
  content: "\232B";
}
.autocomplete__highlight {
  background: #FFF1C2;
}



