.oauth-buttons {
    margin-top: 15px;
}

.btn-oauth {
    i {
        padding-right: 10px;
        border-right: 1px solid #ffffff;
        margin-right: 10px;
    }
    box-shadow: none;
    margin-bottom:3px;
    color: #ffffff;
    &:hover {
        box-shadow: none;
	color: #ffffff;
    }
    &:active, &:visited {
        color: #ffffff;
    }
}

.btn-facebook {
    background-color: #3d5e99;
    border: 1px solid #314b7a;
    color: #ffffff !important;
    &:hover, &:focus, &:active, &:active:focus {
        background-color: #314b7a;
        border: 1px solid #3d5e99;
    }
}

.btn-linkedin {
    background-color: #007bb6;
    color: #ffffff;
    border: 1px solid #006292;
    &:hover, &:focus, &:active {
        background-color: #006292;
        border: 1px solid #007bb6;
    }
}

/* RTL */
html[dir="rtl"]  .btn-oauth {
    i {
        padding-right: unset;
        padding-left: 10px;
        border-right: unset;
        border-left: 1px solid #ffffff;
        margin-right: unset;
        margin-left: 10px;
    }
}
