.oauth-buttons {
    margin-top: 15px;
}

.btn-oauth {
    i {
        padding-right: 10px;
        border-right: 1px solid #ffffff;
        margin-right: 10px;
    }
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
    &:active, &:visited {
        color: #ffffff;
    }
}

.btn-facebook {
    background-color: #3d5e99;
    color: #ffffff;
    &:hover {
        background-color: #314b7a;
    }
}

.btn-linkedin {
    background-color: #007bb6;
    color: #ffffff;
    &:hover {
        background-color: #006292;
    }
}