#grid .page-create-date {
    color: #9dbe5f;
}

#add-element-link {
    text-transform: uppercase;
}

.page-badges {
    img {
        height: 43px;
        width: 43px;
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin:0px 3px 25px 0px;
    }
}

.page-tag {

}

.page-content {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 17px;
    .page-title {
        h1 {
            color: #000000;
            text-align: center;
            text-transform: uppercase;
            line-height: 30px;
            font: 300 45px "Open Sans Condensed",sans-serif;
        }
    }
    .page-author {
        text-align: center;
    }
    .panel-left {
        background-position: top left;
        padding-left: 103px;
        background-repeat: repeat-y;
        @media (max-width: 767px) {
            padding-left: 20px;
        }
    }
    .panel-right {
        background-position: top right;
        padding-right: 103px;
        background-repeat: repeat-y;
        @media (max-width: 767px) {
            padding-right: 20px;
        }
    }
    .panel-content {
        background-color: #ffffff;
        color: #000000;
        padding: 25px;
    }
    a.small-badge-image {
        display: inline-block;
        margin-right: 10px;
        img {
            width: 90px;
            height: 90px;
        }
    }
    .heading-block {
        h1 {
            font: bold 24px "Open Sans";
        }
        h2 {
            font: bold 17px "Open Sans";
        }
    }
    .badge-block {
        h3.badge-name {
            font: 300 30px "Open Sans Condensed";
            text-transform: uppercase;
        }
        h3.criteria {
            font: 300 20px "Open Sans Condensed";
            text-transform: uppercase;
        }
    }
}

#buttons {
    margin-bottom: 35px;
    #buttons-right {
        text-align: right;
    }
    .btn {
        margin-bottom: 5px;
    }
}



#page-edit {
    #title-and-description {
        margin-bottom: 35px;
    }
    .edit-block-files {
        margin-bottom: 10px;
    }
    .page-file-upload {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        font-size: 0;
        position: absolute;
        z-index: 1;
    }
    .html-block-content {
        min-height: 60px;
        position: relative;
        padding: 15px;
        cursor: pointer;
        min-width: 100px;
        border: 2px solid #ffffff;
        .edit-icon {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    .html-block-content-hover {
        border: 2px dashed #000000;
        opacity: 0.4;
        color: #000000;
    }
    .default-content {
        color: #7f7179;
        font-size: 16px;
    }
}

.remove-file-icon {
    color: #ea8241;
    cursor: pointer;
}

.page-panel {
    padding: 20px;
    border-color: #dddddd;
    border-radius: 0;
    box-shadow: 0px 4px 0px #ececec
}

.select-border-wrapper {
    float: left;
    width: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding-top : 20px;
    padding-bottom : 20px;
}

.select-border-wrapper.selected {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#theme-0 {
    .panel-left {
        background-color: #aea1aa;
    }
    .panel-right {
        background-color: #aea1aa;
    }
}

#theme-1 {
    font-family: Oswald,arial;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;

    a {
        color: #e98342;
    }

    .page-title {
        h1 {
            font: 40px "Archivo Black",sans-serif;
            color: #e98342;
            text-transform: uppercase;
        }
    }

    .page-summary {
        font: 300 20px "Oswald",arial;
    }

    .panel-left {
        background-image: url('/img/themes/custom_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/custom_right.png');
    }

    .heading-block {
        h1 {
            font: bold 20px "Oswald",arial;
        }
        h2 {
            font: bold 17px "Oswald",arial;
        }
    }

    .badge-block {
        h3.badge-name {
            font: normal 28px "Oswald";
            text-transform: uppercase;
            color: #f8a053;
        }
        h3.criteria {
            font: 300 20px "Oswald";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font: 300 17px Oswald;
        }
        label {
            font: normal 15px Oswald
        }
    }
    .html-block {
        font-size: 17px;
        line-height: 24px;
    }
}

#theme-2 {
    color: #000000;
    font-family: Halant;
    font-size: 17px;
    line-height: 17px;

    a {
        color: #7e7079;
    }
    .page-title {
        h1 {
            font-size: 45px;
        }
    }
    .page-summary {
        font: normal 20px "Halant",arial;
    }

    .panel-left {
        background-image: url('/img/themes/classic_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/classic_left.png');
    }

    .heading-block {
        h1 {
            font: bold 20px "Halant",arial;
        }
        h2 {
            font: bold 17px "Halant",arial;
        }
    }
    .badge-block {
        h3.badge-name {
            font: bold 24px "Cinzel";
            text-transform: uppercase;
        }
        h3.criteria {
            font: bold 17px "Cinzel";
            text-transform: uppercase;
        }
        .description {
            line-height: 20px;
            font: normal 17px Halant;
        }
        label {
            font: 600 17px "Halant";
        }
    }
    .html-block {
        font-size: 18px;
        line-height: 24px;
    }
}

#theme-3 {
    color: #000000;
    font-family: "Coming Soon";
    font-size: 17px;
    line-height: 17px;

    a {
        color: #9dbe5f;
    }
    .page-title {
        h1 {
            font: normal 55px "Gochi Hand",sans-serif;
            color: #6a8140;
            text-transform: uppercase;
        }
    }
    .page-summary {
        font: normal 18px "Coming Soon",arial;
    }

    .heading-block {
        h1 {
            font: normal 24px "Gochi Hand",arial;
        }
        h2 {
            font: normal 20px "Gochi Hand",arial;
        }
    }
    .badge-block {
        h3.badge-name {
            font: normal 30px "Gochi Hand";
            text-transform: uppercase;
            color: #9dbe5f;
        }
        h3.criteria {
            font: normal 20px "Gochi Hand";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font: normal 16px "Coming Soon";
        }
        label {
            font: normal 17px "Gochi Hand";
            color: #000000;
        }
    }
    .html-block {
        font-size: 16px;
        line-height: 24px;
    }

    .panel-left {
        background-image: url('/img/themes/handmade_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/handmade_right.png');
    }
}

#theme-4 {
    color: #000000;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 18px;

    a {
        color: #4499a9;
    }
    .page-title {
        h1 {
            font: bold 40px "Georgia",sans-serif;
            color: #4499a9;
            font-size: 40px;
            text-transform: none;
            font-weight: 400;
        }
    }
    .page-summary {
        font: normal 16px "Open Sans",arial;
    }

    .panel-left {
        background-image: url('/img/themes/art_left.jpg');
    }
    .panel-right {
        background-image: url('/img/themes/art_right.jpg');
    }

    .heading-block {
        h1 {
            font: bold 20px "Open Sans",arial;
        }
        h2 {
            font: bold 17px "Open Sans",arial;
        }
    }
    .badge-block {
        h3.badge-name {
            font: 600 24px "Open Sans";
            text-transform: uppercase;
            color: #459aa9;
        }
        h3.criteria {
            font: 400 16px "Open Sans";
            text-transform: uppercase;
        }
        .description {
            line-height: 16px;
            font: normal 14px Open Sans;
        }
        label {
            font: 600 16px "Open Sans";
        }
    }
    .html-block {
        font-size: 14px;
        line-height: 18px;
    }
}

#theme-5 {
    color: #000000;
    font-weight: 300;
    font-family: Oswald;
    font-size: 17px;
    line-height: 24px;

    a {
        font-size: 17px;
        color: #6b6b6b;
        font-weight: 300;
    }
    .page-title {
        h1 {
            font: 40px "Archivo Black",sans-serif;
            text-transform: uppercase;
        }
    }
    .page-summary {
        font: 300 20px "Oswald",arial;
    }

    .panel-left {
        background-image: url('/img/themes/cardboard_left.jpg');
    }
    .panel-right {
        background-image: url('/img/themes/cardboard_right.jpg');
    }

    .heading-block {
        h1 {
            font: bold 20px "Oswald",arial
        }
        h2 {
            font: bold 17px "Oswald",arial
        }
    }
    .badge-block {
        h3.badge-name {
            font: normal 28px "Oswald";
            text-transform: uppercase;
            color: #6b6b6b;
        }
        h3.criteria {
            font: 300 20px "Oswald";
            text-transform: uppercase;
        }
        .description {
            line-height: 20px;
            font: 300 17px Oswald;
        }
        label {
            font: normal 15px Oswald;
        }
    }
    .html-block {
        font-size: 17px;
        line-height: 24px;
    }
}

#theme-6 {
    color: #000000;
    font-family: "Coming Soon";
    font-size: 16px;
    line-height: 17px;

    a {
        color: #257bd1;
    }
    .page-title {
        h1 {
            font: normal 55px "Gochi Hand",sans-serif;
            color: #0060bf;
            text-transform: uppercase;
        }
    }
    .page-summary {
        font: normal 18px "Coming Soon",arial;
    }

    .heading-block {
        h1 {
            font: normal 24px "Gochi Hand",arial;
        }
        h2 {
            font: normal 20px "Gochi Hand",arial;
        }
    }
    .badge-block {
        h3.badge-name {
            font: normal 30px "Gochi Hand";
            text-transform: uppercase;
            color: #257bd1;
        }
        h3.criteria {
            font: normal 20px "Gochi Hand";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font: normal 16px "Coming Soon";
        }
        label {
            font: normal 17px "Gochi Hand";
            color: #000000;
        }
    }
    .html-block {
        font-size: 16px;
        line-height: 24px;
    }

    .panel-left {
        background-image: url('/img/themes/lego_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/lego_right.png');
    }
}

#theme-7 {
    color: #000000;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 17px;

    a {
        color: #264254;
        font-weight: 400;
    }
    .page-title {
        h1 {
            font: 700 45px "Open Sans",sans-serif;
            color: #284558;
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .page-summary {
        font-size: 16px;
        font-weight: normal;
    }

    .heading-block {
        h1 {
            font: 400 24px "Open Sans",arial;
            color: #264254;
        }
        h2 {
            font: 400 19px "Open Sans",arial;
            color: #264254;
        }
    }
    .badge-block {
        h3.badge-name {
            color: #000000;
            font: 600 24px "Open Sans";
            text-transform: uppercase;
        }
        h3.criteria {
            font: 400 16px "Open Sans";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font-size: 14px;
        }
        label {
            font: bold 14px 'Open Sans';
            color: #000000;
        }
    }
    .html-block {
        font-size: 14px;
        line-height: 24px;
    }

    .panel-left {
        background-image: url('/img/themes/diamonds_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/diamonds_right.png');
    }
}

#theme-8 {
    color: #000000;
    a {
        color: #6b6b6b;
        font-weight: 400;
    }
    .panel-left {
        background-image: url('/img/themes/ornament_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/ornament_right.png');
    }
}

#theme-9 {
   font-family: Halant;
   font-size: 16px;
   line-height: 17px;

    a {
        color: #876b36;
        font-weight: 400;
    }
    .page-title {
        h1 {
            font: normal 40px "Cinzel",sans-serif;
            color: #876b36;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .page-summary {
        font: normal 20px "Halant",arial;
    }


    .heading-block {
        h1 {
            font: bold 20px "Halant",arial;
            color: #876b36;
            text-transform: none;
        }
        h2 {
            font: bold 17px "Halant",arial;
            color: #000000;
            text-transform: none;
        }
    }
    .badge-block {
        h3.badge-name {
            font: bold 24px "Cinzel";
            text-transform: uppercase;
            color: #000000;
        }
        h3.criteria {
            font: bold 17px "Cinzel";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font: normal 17px Halant;
        }
        label {
            font: 600 17px "Halant";
            color: #000000;
        }
    }
    .html-block {
        font-size: 18px;
        line-height: 24px;
    }

   .panel-left {
       background-image: url('/img/themes/vintage_left.png');
   }
   .panel-right {
       background-image: url('/img/themes/vintage_right.png');
   }
}

#theme-10 {
    color: #000000;
    font-family: Halant;
    font-size: 16px;
    line-height: 17px;

    a {
        color: #085760;
        font-weight: 400;
    }
    .page-title {
        h1 {
            font: 400 45px Halant;
            text-transform: none;
        }
    }
    .page-summary {
        font: normal 20px "Halant",arial;
    }

    .heading-block {
        h1 {
            font: 300 24px "Halant", arial;
            text-transform: none;
        }
        h2 {
            font: bold 17px "Halant",arial;
        }
    }
    .badge-block {
        h3.badge-name {
            font: 400 24px "Halant";
            text-transform: uppercase;
            color: #000000;
        }
        h3.criteria {
            font: 300 16px "Open Sans";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font: normal 17px Halant;
        }
        label {
            font: 600 17px "Halant";
            color: #000000;
        }
    }
    .html-block {
        font-size: 18px;
        line-height: 24px;
    }

    .panel-left {
        background-image: url('/img/themes/colours_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/colours_right.png');
    }
}

#theme-11 {
    color: #000000;
    font-family: Halant;
    font-size: 16px;
    line-height: 17px;

    a {
        color: #840d2b;
        font-weight: 400;
    }
    .page-title {
        h1 {
            font: 400 45px Halant;
            text-transform: none;
        }
    }
    .page-summary {
        font: normal 20px "Halant",arial;
    }

    .heading-block {
        h1 {
            font: 300 24px "Halant", arial;
            text-transform: none;
        }
        h2 {
            font: bold 17px "Halant",arial;
        }
    }
    .badge-block {
        h3.badge-name {
            font: 400 24px "Halant";
            text-transform: uppercase;
            color: #000000;
        }
        h3.criteria {
            font: 300 16px "Open Sans";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font: normal 17px Halant;
        }
        label {
            font: 600 17px "Halant";
            color: #000000;
        }
    }
    .html-block {
        font-size: 18px;
        line-height: 24px;
    }

    .panel-left {
        background-image: url('/img/themes/dotted_left.jpg');
    }
    .panel-right {
        background-image: url('/img/themes/dotted_right.jpg');
    }
}

#theme-12 {
    font-family: Georgia;

    a {
        color: #6b6b6b;
        font-weight: 400;
    }
    .page-title {
        h1 {
            font: 700 45px "Dancing Script",cursive;
        }
    }
    .page-summary {
        font-size: 16px;
        font-wright: normal;
    }

    .heading-block {
        h1 {
            font: 700 24px "Dancing Script",cursive;
            text-transform: none;
        }
        h2 {
            font: 700 20px "Dancing Script",cursive;
            text-transform: none;
        }
    }
    .badge-block {
        h3.badge-name {
            font: 400 20px "Georgia";
            text-transform: uppercase;
            color: #000000;
        }
        h3.criteria {
            font: 400 16px "Georgia";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 20px;
            font-size: 14px;
        }
        label {
            font: bold 14px "Georgia";
        }
    }
    .html-block {
        font-size: 14px;
        line-height: 24px;
    }
    .panel-left {
        background-image: url('/img/themes/script_left.jpg');
    }
    .panel-right {
        background-image: url('/img/themes/script_right.jpg');
    }
}

#theme-13 {
    font: normal 16px Dosis;

    a {
        color: #0060bf;
        font-weight: 400;
        font-family: Dosis;
    }
    .page-title {
        h1 {
            font: 700 55px "Dosis",sans-serif;
            text-shadow: -2px -2px 0 #ffe612,2px -2px 0 #ffe612,-2px 2px 0 #ffe612,2px 2px 0 #ffe612;
            color: #f4080b;
            text-transform: none;
            text-align: center;
        }
    }
    .page-summary {
        font: normal 18px Dosis
    }

    .heading-block {
        h1 {
            font: bold 24px Dosis;
            text-transform: none;
        }
        h2 {
            font: bold 20px Dosis;
            text-transform: none;
        }
    }
    .badge-block {
        h3.badge-name {
            font: 300 30px "Dosis";
            text-transform: uppercase;
            color: #000000;
        }
        h3.criteria {
            font: 300 20px "Dosis";
            text-transform: uppercase;
            color: #000000;
        }
        .description {
            line-height: 24px;
            font: normal 16px "Dosis";
        }
        label {
            font: bold 16px "Dosis";
            color: #000000;
        }
    }
    .html-block {
        font: normal 16px Dosis;
        line-height: 24px;
    }

    .panel-left {
        background-image: url('/img/themes/lego_left.png');
    }
    .panel-right {
        background-image: url('/img/themes/lego_right.png');
    }
}

.file-block {
    .attachment {
        margin-right: 15px;
    }
    .file-block-image {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.html-block {
    ul {
        margin: 0;
    }
}

.page-file-icon {
    margin-right: 3px;
}

#field-editor {
    .field {
        .field-content {
            .badge-select {
                margin-bottom: 15px;
            }
            .badge-image {
                padding-right: 40px;
                text-align: right;
                img {
                    width: 70px;
                }
            }
        }
    }
}