#content {
    width: 100% !important;
}
a[href]::after{
    content: none !important;
}

.title-row, .side-links {
    display: none;
}

#print-logo {
    //display: block; TODO theme specific image ?!
}


#print-qr-code {
    display:  inline-block;
}

#badge-info {
    #badge-share-inputs, #badge-rating, #badge-views , #badge-congratulations, #badge-congratulated, #assertion-link, .badge-message-link, .link, .badge-language-selector{
        display: none;
    }

    .row{
        clear: both;
        width: 100%;
    }

    .col-md-3 {
        width: 30%;
        float: left;
    }

    .col-md-9 {
        width: 70%;
        float: left;
    }
}

#page-view {
    #page-buttons-share, .page-mtime, .file-block {
        display: none;
    }

    .row{
        clear: both;
        width: 100%;
    }

    .col-md-4 {
        width: 30%;
        float: left;
    }

    .col-md-8 {
        width: 70%;
        float: left;
    }

    .page-content .panel-right {
        padding-right: 0;
    }
}
footer.footer {
    display: none;
}
