#message-list{
    height: 300px;
    overflow-y: scroll;
    border: 1px solid silver;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 2px;
}

.message-profile-img{
    height: 54px;
    border: 1px solid #aea1aa;
    border-radius: 3px;
}

.message-item{
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    h4{
	font-size: 14px;
    }
    font-size: 14px;
	&:last-child{
		border-bottom: none;
	}
}

.message-item.media {
	margin-top:5px;
	h3.media-heading {
		position: relative;
		a { font-size: 16px;
			color:#dc5c10;
			&:hover {
				color:#bf4f0e;
			}
	    }
		.new {
			background-color: #dc5c10;
			color:#FFF;
			border-radius: 50%;
			height: 18px;
			width: 18px;
			display: inline-block;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 700;
			padding-left: 6px;
			padding-top:3px;
			position: absolute;
			left:17px;
			top:-2px;
		}
		&:before{
			content: "\f0e6";
			font-family: "FontAwesome";
			margin-right: 12px;
			font-size: 30px;
		}
	}
	&.new {
		h3.media-heading:before{
			content: "\f086";
		}
	}
	&.follow {
		h3.media-heading:before{
			content:"\f006";
		}
	}
	h4.media-heading{
		a{
			font-weight: 600;
			font-size: 14px;
			color: #453e42;
			&:hover {
				color: #756A70;
			}
		}
		span {
			font-size: 13px;
			color: #5a5257;
			font-weight: 400;
			padding-left:2px
		}
	}
	.media-left {
		padding-right: 30px;
		padding-top:25px;
		~ .media-body {
			padding-top:10px;
			.media-body {
				font-size: 13px;
			}
		}
	}
	.date {
		float:right;
		color: #756A70;
		font-size: 13px;
		font-family: Arial;
		margin:5px 15px 0px 10px;
	}
}
#badge-content{
	.btn-primary.follow, .btn-primary.unfollow {
		margin-right: 15px;
		margin-top:15px;
	}
	#badge-contents  .message-item {
		.pull-left {
			padding-top:10px;
			padding-right:20px;
		}
		.media-body {
			padding-top:10px;
		}
		.date {
			margin-top:2px;
		}
		.message {
			padding-top:10px;
		}
		a#loadmore {
			color:#dc5c10;
			&:hover {
				color:#bf4f0e;
			}
		}
		a:hover{
			color:#353b75;
		}
	}
}
.btn-primary.follow, .btn-primary.unfollow{
	padding: 4px 12px;
    line-height: 22px;
	&:before {
		content:"\f005";
		font-weight: normal;
		font-family: FontAwesome;
		text-rendering: auto;
		margin-right: 5px;
		font-size: 16px;
		display: block;
		float: left;
	}
}
.btn-primary.unfollow{
	background-color: lighten(#756A70, 10%);
	border-color: #756A70;
	&:before {
		content:"\f006";
	}
	&:hover {
		background-color:#756A70;
	}
}