#narrow-panel {
    max-width: 600px;
    margin: 30px auto 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

#login-page {
    padding-bottom: 50px;
    .login-links {
        margin-top: 20px;
    }
    form {
	text-align: center;
	padding-top:15px;
    }
    .form-group{
	margin-right: auto;
	margin-left: auto;
	max-width: 300px;
    }
    .btn-primary {
	background-color: #ea7d45;
	border-color: #f59f48;
	min-width: 140px;
	font-size: 14px;
	border-radius: 3px;
	&:hover{
	    background-color:#f59f48;
	}
    }
}

.login-links {
    .col-xs-6, .col-sm-6 {
	width: 50%;
	float:left;
    }
    .col-xs-6 {
	text-align: right;
    }
    .col-sm-6 {
	text-align: left;
    }
}
@media (min-width: 768px) {
    .text-right-sm {
        text-align: right;
    }
}
.form-required {
    color: #f00f00;
}

.modal-cancel-button {
    padding: 7px 13px;
}

.or{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 700;
}
#reset-password, #registration-page {
    .panel-body form{
	padding:20px;
	.btn-primary {
	    font-size: 14px;
	    border-radius: 3px;
	}
    }
}
#registration-page .btn-primary{
    margin-bottom: 20px;
}
#profile {
    #grid {
        margin-top: 0;
        margin-bottom: 0;
    }
    h2.user-profile-header {
        padding-top: 20px;
        padding-bottom: 0;
        margin: 0;
    }

    img.profile-picture {
        display: inline-block;
        width: 200px;
        height: auto;
        padding: 4px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }

    .about {
        margin-bottom: 15px;
    }

    .table {
        td.profile-field {
            padding-left: 0;
        }
    }
    .media-right img {
        max-width: 55px;
        max-height: 55px;
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}

#edit-profile {
    #visibility-radio-internal {
        margin-top: 0;
    }
    .row > label {
        margin-top: 15px;
    }
    #profile-picture-gallery {
        overflow: auto;
        width: 100%;
        .profile-picture-gallery-element {
            float: left;
            width: 112px;
            height: 112px;
            border-radius: 4px;
            padding: 5px;
            margin-right: 10px;
            border: 1px solid #dcdcdc;
            display: table-cell;
            vertical-align: middle;
            cursor: pointer;
            img {
                height: auto;
                width: auto;
                max-width: 100px;
                max-height: 100px;
            }
        }
        .element-selected {
            border-color: #66afe9;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
    }
    #profile-picture-upload-button {
        margin: 15px 0;
    }

    #profile-picture-upload {
       top: 0;
       left: 0;
       width: 130px;
       height: 100%;
       opacity: 0;
       cursor: pointer;
       font-size: 0;
       position: absolute;
       z-index: 1;
    }

    #save-profile-buttons {
        margin-top: 20px;
    }
}

#edit-user {
    #cancel-button {
        margin-left: 10px;
    }
}

li.user-link-inline {
    list-style: none;
    display: inline-block;
    img {
        max-width: 30px;
        max-height: 30px;
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-right: 3px;
    }
    padding-right: 10px;
}

#cancel-account {
    #cancel-info {
    }
}