$titlebar-color: #9dbe5f;
$background-color: #f9f9f9;

$text-color:#7f7179;
$icon-color: #b1a1ab;
$title-color: $text-color;

$grid-link: #f59f48;
$badge-title:$grid-link;
$grid-link-hover: #ea7d45;

$badge-title-hover:$grid-link-hover;
$menu-color: $grid-link;
$menu-active:$grid-link-hover;


$orange-color: #ea8241;
$orange-hover:#df6519;
$dark-red: #8c2e0b;
$green: #89a338;

$link-color: #4264a2;
$link-hover: $link-color;
$button-color: #587ab3;
$box-shadow: #d8d8d8;

@mixin inner-shadow($h-shadow, $v-shadow, $blur, $spread, $opacity) {
    -webkit-box-shadow: inset $h-shadow $v-shadow $blur $spread rgba(0,0,0,$opacity);
    -moz-box-shadow: inset $h-shadow $v-shadow $blur $spread rgba(0,0,0,$opacity);
    box-shadow: inset $h-shadow $v-shadow $blur $spread rgba(0,0,0,$opacity);
}

@import 'extra/passport_variables';