(
 {:table "social_connections_user"
  :data {
         :owner_id 1
         :user_id 2
         :status "accepted"
         :ctime 1490681672}}
 
 {:table "social_connections_user"
  :data {
         :owner_id 1
         :user_id 3
         :status "pending"
         :ctime 1490681672}}


 )
