(
 {
  :table "user"
  :data {
         :first_name "Test"
         :last_name "User"
         :role "user"
         :country "FI"
         :pass "pbkdf2+sha256$ff1ca4be9620490658c0a43c$100000$b9744c7b51fe7615edf245bc7316ae57ed27054ce0a5ce3f69313f04b4c10580"
         :ctime 1438954261
         :mtime 1438954261
         :activated 1
         }
  }
  {:table "user_email"
   :data {
          :user_id 1
          :email "test-user@example.com"
          :verified 1
          :primary_address 1
          :ctime 1438954261
          :mtime 1438954261}
   }

  {
   :table "user"
   :data {
          :first_name "Another"
          :last_name "User"
          :role "user"
          :country "US"
          :pass "pbkdf2+sha256$ff1ca4be9620490658c0a43c$100000$b9744c7b51fe7615edf245bc7316ae57ed27054ce0a5ce3f69313f04b4c10580"
          :ctime 1450172372
          :mtime 1450172372
          :activated 1
          }
   }
  {:table "user_email"
   :data {
          :user_id 2
          :email "another-user@example.com"
          :verified 1
          :primary_address 1
          :ctime 1450172372
          :mtime 1450172372}
   }

  {
   :table "user"
   :data {
          :first_name "Third"
          :last_name "User"
          :role "user"
          :country "SE"
          :pass "pbkdf2+sha256$ff1ca4be9620490658c0a43c$100000$b9744c7b51fe7615edf245bc7316ae57ed27054ce0a5ce3f69313f04b4c10580"
          :ctime 1453812046
          :mtime 1453812046
          :activated 1
          }
   }
  {:table "user_email"
   :data {
          :user_id 3
          :email "third-user@example.com"
          :verified 1
          :primary_address 1
          :ctime 1453812046
          :mtime 1453812046}
   }
)
